{% extends "layout.html" %} {% block page_title %} What's the address of the local authority or public body? {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          What's the address of the local authority or public body?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Address</legend>

          <!-- Address -->
          <div class="form-group">
            <label class="form-label" for="business_address">Select address</label>
            <select class="address-select form-control" id="business_address">
              <option value="business_address">6 addresses found</option>
              <option value="business_address">2 Deanery Rd, Bristol, BS1 5AH</option>
              <option value="business_address">3 Deanery Rd, Bristol, BS1 5AH</option>
              <option value="business_address">6 Deanery Rd, Bristol, BS1 5AH</option>
              <option value="business_address">7 Deanery Rd, Bristol, BS1 5AH</option>
              <option value="business_address">23 Deanery Rd, Bristol, BS1 5AH</option>
              <option value="business_address">25 Deanery Rd, Bristol, BS1 5AH</option>
            </select>
          </div>

        </fieldset>

        <!-- Show and hide address-->
        <details>
          <summary id="show-hide-details-summary-0" aria controls="details-content-0" tabindex="0" aria-controls="details-content-0" role="button">
            <span class="summary">Enter address manually</span>
          </summary>
          <span style="display:block" class="panel-indent" id="details-content-0" />

          <br />

          <!-- Manual entered address -->
          <div class="form-group">
            <label class="form-label" for="premises">Building name or number
            </label>
            <div class="form-hint">For example, a business premises name or house number</div>
            <input type="text" class="form-control" id="premises" />
          </div>

          <div class="form-group">
            <label class="form-label" for="street_address">Address line 1</label>
            <input type="text" class="form-control" id="street_address" />
          </div>

          <div class="form-group">
            <label class="form-label" for="locality">Address line 2 (optional)</label>
            <input type="text" class="form-control" id="locality" />
          </div>

          <div class="form-group">
            <label class="form-label" for="city">Town</label>
            <input type="text" class="form-control" id="city" />
          </div>

          <div class="form-group">
            <label class="form-label" for="manual-postcode">Postcode</label>
            <input type="text" class="form-control" id="manual-postcode" />
          </div>

        </details>

        <br />

        <!-- Primary button -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
