{% extends "layout.html" %} {% block page_title %} Check your exemptions {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <form method="post" class="form">

    <h1 class="heading-large">
      Check your exemptions
    </h1>

    <table class="check-your-answers">
      <tbody>
        <tr>
          <th>
            <p class="font-small">Footbridge 8m bank to bank maximum</p>
          </th>
          <td>
            <span class="bold-small">FRA5</span>
          </td>
          <td class="change-answer">
            <a href="/version_2/exemptions/add_exemptions">Change<span class="visuallyhidden"> exemption FRA5</span></a>
          </td>
        </tr>

        <tr>
          <th>
            <p class="font-small">Maintenance of structures in the river (not raised defences)</p>
          </th>
          <td>
            <span class="bold-small">FRA9</span>
          </td>
          <td class="change-answer">
            <a href="/version_2/exemptions/add_exemptions">Change <span class="visuallyhidden"> exemption FRA9</span></a>
          </td>
        </tr>
      </tbody>
    </table>

    <br />

    <div class="form-group">
      <a href="/version_2/exemptions/add_exemptions">Add another exemption</a>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue" />
    </div>

  </form>

</main>
{% endblock %}
