{% extends "layout.html" %} {% block page_title %} Start page example {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        River permissions
      </h1>

      <h2 class="heading-medium">Before you start</h2>

      <p>You'll need to:</p>

      <ul class="list list-bullet">
        <li>read the guidance on river permissions</li>
        <li>decide which exemptions apply to your activities</li>
        <li>check that the activity will meet the conditions of each relevant exemption you wish to register</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="/version_1/location/activity_specific/bridge_grid_reference" role="button">Start now</a>
      </p>

      <p>You'll need:</p>

      <ul class="list list-bullet">
        <li>the national grid reference number for all locations where activites will be carried out</li>
        <li>the name and address of the individual, business or organisation that will be carrying out the activities</li>
        <li>the business registration number and registered address details if you’re registering exemptions for a company</li>
        <li>the name and address details of all persons accountable if you're registering exemptions for a partnership</li>
        <li>details of the person we should contact about the activities, and to whom we’ll send the exemption registration confirmation</li>
      </ul>

      <div class="contact">
        <h3 class="heading-medium">Contact the Environment Agency</h3>
        <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
        <br /> Telephone: 03708 506 506
        <br /> Minicom: 03702 422 549
        <br /> Monday to Friday, 8am to 6pm
      </div>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">River permissions</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="/version_1/guidance/guidance">River permissions guidance</a></li>
            <li><a href="#">Information about conditions</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}