{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <a class="link-back" href="">Back</a>

        <h1 class="heading-large">
          Is this a new registration?
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Is this a new registration?
            </legend>

            <label class="block-label" for="radio-home-address">
              <input id="radio-yes" type="radio" name="radio-indent-group" value="Yes" /> Yes
            </label>

            <label class="block-label" for="radio-other-address" data-target="example-other-address">
              <input id="radio-no" type="radio" name="radio-indent-group" value="No" /> No
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>
    </div>
  </div>
</main>

{% endblock %}
