


<div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your
      <a id="feedbacklink" target="_blank" href="https://www.smartsurvey.co.uk/s/W1QTW/">feedback</a>
    will help us to improve it.</span>
  </p>
</div>


<script type="text/javascript">
//<![CDATA[
(function () {
"use strict";
// Replaces href with string containing page title
// Construct a URL with query string and URI-encoded page title
var href_str = "https://www.smartsurvey.co.uk/s/W1QTW/?referringpage=" + encodeURI(document.title);
// replace HREF of element with ID feedbacklink with new link URL containing page title
document.getElementById("feedbacklink").href = href_str;
}());
//]]>
</script>
