


<div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your
      <a id="feedbacklink" href="mailto:glancyea@gmail.com?subject=Feedback about registering a flood risk activity exemption&body=My feedback is:">feedback</a>
    will help us to improve it.</span>
  </p>
</div>


<script>
  var href_str='mailto:glancyea@gmail.com?subject=Feedback%20about%20registering%20a%20flood%20risk%20activity%20exemption&body=I%20was%20on%20this%20page:%20' + document.title + '%0D%0A%20%0D%0AMy%20feedback%20is:%20';

  document.getElementById("feedbacklink").href = href_str;
</script>
