<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>

<script>
$(document).ready(function() {
  var ToC = "";
  var franum = 1;
  var newLine, el, title, link;

  $("#main_text h2").each(function() {
    franum = franum+1;
    $(this).attr( "id", "fra"+franum );
    el = $(this);
    title = el.text();
    link = "#" + "fra"+franum;
    newLine =
      "<li>" +
        "<a href='" + link + "'>" +
          title +
        "</a>" +
      "</li>";
    ToC += newLine;
  });

  $("#document_sections").append(ToC);
});
</script>



<script type="text/javascript">
//<![CDATA[

$(document).ready(function() {
  "use strict";

  // This code fixes behaviour in Chrome and Safari browsers where arrow keys doesn't scroll
  // page but focus does move, so keyboard user can't see focus

  // Check we are on Chrome or Safari (both have Safri in user agent string)
  if (navigator.userAgent.indexOf('Safari') != -1) {

    $("h1.form-title").append(": Chrome or Safari detected");
    
    // How it works: every time a key is released on
    // an exemption label - avoid this working on other elements because
    // it is then not possible to use arrow keys when eg the continue button has focused
    // also ignore first element because it was jarring to have the screen move on first entry to list
    $(".exemption:gt(0)").keyup(function(e) {  //:gt(0) not the first element

      // Set keycodes we want to watch for
      var UP = 38;
      var DOWN = 40;
      var ENTER = 13;
      var TAB = 9;
      var SPACE = 32;
      // initialise
      var keynum = 0;

      // obtain key pressed - different in different browsers
      keynum = (e.keyCode || e.which);

      // Only respond to keys used for navigating page
      if(keynum === UP || keynum === DOWN || keynum === ENTER || keynum === TAB || keynum === SPACE) {
        // Find the offset top position of the focused element
        // Remove 50 pixels so we scroll to just above the element
        // Scroll to this position
        // Using animate method, with 'linear' easing, and take 100mS to do that
        $('html, body').animate({ scrollTop: $(":focus").offset().top - 50 }, 100, "linear");
      }

    }); // end keypress function

  } // end Chrome check

}); // end document ready

//]]>
</script>
