{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          What's the name of the local authority or public body?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Local authority or public body name</legend>

          <!-- Local authority name -->
          <div class="form-group">
            <label class="form-label" for="authority-name">Local authority or public body name
              <span class="form-hint">For example, Bristol City Council</span>
            </label>
            <input type="text" class="form-control" id="authority-name" />
          </div>
        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
