{% extends "layout.html" %} {% block page_title %} Add another partner or continue {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %} {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Add another partner or continue
        </h1>

          <h2 class="heading-medium">
            Business partners you’ve added to this registration
          </h2>

          <table summary="partner-details-summary" class="summary-table" role="presentation">

          <tbody>

            <tr>
              <td>
                Jane Smith
              </td>
              <td>
                123 Some address<br />
                Someshire<br />
                SM2 3AB
              </td>
              <td>
                <a href="/version_2-5/user_type/partnership" class="link">Remove <span class="visuallyhidden"> Jane Smith</span></a>
              </td>
            </tr>

            <tr>
              <td>
                Sarah Partner
              </td>
              <td>
                456 Another address<br />
                Someshire<br />
                SM3 4AB
              </td>
              <td>
                <a href="/version_2-5/user_type/partnership" class="link">Remove <span class="visuallyhidden"> Sarah Partner</span></a>
              </td>
            </tr>


          </tbody>
        </table>

        <br />

        <p>
          <a href="/version_2-5/user_type/partnership" class="example-back-link">Add another partner</a>
        </p>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
