<!-- FRA2  ########################################################################## -->
{% set FRA2 = '
<h2 class="heading-medium">Description</h2>
<p class="text">This exemption allows you to erect an electrical cable way and associated supports across a main
river.</p>

<h2 class="heading-medium">Conditions</h2>
<p class="text">For your activity to be exempt it must meet all of the conditions below:</p>
<ul class="list list-bullet">
  <li>you cannot carry out the activity on, or within 200m of, a site designated as a Special
Protection Area (SPA), Special Area for Conservation (SAC), Ramsar site, Site of Special
Scientific Interest (SSSI) or Local Nature Reserve (LNR). The locations of all these sites are
available to view on MAGIC at: <a href="www.magic.gov.uk">www.magic.gov.uk</a></li>
<li>the service crossing is within 10° of perpendicular to the direction of flow of the main river</li>
<li>you erect permanent hazard markers on both banks of the main river</li>
<li>your works do not disturb the bed and banks of the main river</li>
<li>you remove from the floodplain all excavated material not re-used on the site of the works</li>
<li>the vertical and horizontal clearances of the service crossing comply with the requirements set
out in the table below:</li>
</ul>

<table>
  <tr>
    <th>Voltage</th>
    <th>Vertical clearance above bank or flood bank crest level </th>
    <th>Horizontal clearance of any tower or support landward from the top of the bank of the main river</th>
  </tr>
  <tr>
    <td>275kV or 400kV</td>
    <td>15m</td>
    <td>15m</td>
  </tr>
  <tr>
    <td>132kV or 66kV</td>
    <td>12m</td>
    <td>15m</td>
  </tr>
  <tr>
    <td>33kV, 11kV or 6.6kV</td>
    <td>9m</td>
    <td>10m</td>
  </tr>
  <tr>
    <td>4.15kV</td>
    <td>6m</td>
    <td>9m</td>
  </tr>
</table>

<h2 class="heading-medium">Guidance notes</h2>
<p>In order to meet the description and conditions, you cannot:</p>
<ul class="list list-bullet">
  <li> lay a cable on the surface of the river bed</li>
  <li>Install the service crossing or duct within the cross section of the river channel</li>
</ul>
' %}


<!-- FRA3  ########################################################################## -->
{% set FRA3 = '
<p class="text">Your activity must meet all these conditions to be exempt. This is a guide and not the full legal conditions.</p>

<h2 class="heading-medium">Design of the work</h2>
<p class="text">The crossing is:</p>
<ul class="list list-bullet">
  <li>at right angles (+/- 10 degrees) to the direction of flow  </li>
  <li>at least 1.5m below the river bed  </li>
  <li>drilled level from 5m each side of the bank
  </li>
  <li>built so the launch and reception pits are at least:
    <ul class="list list-bullet">
      <li>8m beyond the bank for a non-tidal river      </li>
      <li>16m beyond the bank for a tidal river      </li>
    </ul>
  </li>
  <li>not passing through any bank, culvert, remote defence, river control  works or sea defence  </li>
  <li>50m or more upstream of any impoundment or artificially raised channel  </li>
</ul>

<h2 class="heading-medium">How you carry out the work</h2>
<p class="text">You must:</p>
<ul class="list list-bullet">
  <li>    erect permanent hazard markers on both banks  </li>
  <li>    remove all excavated material from the flood plain unless it is re-used  </li>
  <li>    not allow the works to disturb the bed or banks  </li>
</ul>

<h2 class="heading-medium">Location of the work</h2>
  <p class="text">The work cannot be on or within:</p>
<ul class="list list-bullet">
  <li>
    200m of a:
    <ul class="list list-bullet">
      <li>Special Protection Area</li>
        <li>Special Area for Conservation</li>
        <li>Ramsar site</li>
        <li>Site of Special Scientific Interest</li>
        <li>Local Nature Reserve</li>
      </ul>
  </li>
  <li>   100m of a river or lake having "high morphological status"  </li>
</ul>
'
%}


<!-- FRA4  ########################################################################## -->
{% set FRA4 = '
<h2 class="heading-medium">Description</h2>
<p class="text">This exemption allows you to install a service crossing below the bed of a main river not using an
open cut technique but using directional drilling, for example to install an electricity service duct.</p>

<h2 class="heading-medium">Conditions</h2>
<p class="text">For your activity to be exempt it must meet all of the conditions below:</p>
<ul class="list list-bullet">
  <li>you cannot carry out the activity on, or within 200m of, a site designated as a Special
Protection Area (SPA), Special Area for Conservation (SAC), Ramsar site, Site of Special
Scientific Interest (SSSI) or Local Nature Reserve (LNR). The locations of all these sites are
available to view on MAGIC at <a href="www.magic.gov.uk">www.magic.gov.uk</a></li>
  <li>you cannot carry out any work in or within 100m of a river or lake in England or (if your activity
is near the border) in Wales that is classified as of high morphological status under the Water
Framework Directive. For information call the Environment Agency customer contact centre on
03708 506 506.</li>
  <li>the service crossing is within 10° of perpendicular to the direction of flow in the main river</li>
  <li>the distance from the bed of the main river to the top of the service crossing is at least 1.5
metres along its whole length, and the same height above sea level is maintained between
points 5 metres beyond the top of each bank of the main river</li>
  <li>the distance from the launch and reception pits to the landward side of each bank of the main
river is
<ul class="list list-bullet">
  <li>8 metres or more in the case of a non-tidal main river</li>
  <li>16 metres or more in the case of a tidal main river</li>
</ul>
</li>
  <li>the service crossing does not pass through any bank, culvert, remote defence or river control
works on the main river or through any sea defence</li>
  <li>the service crossing is 50 metres or more upstream of any impoundment or artificially raised
channel</li>
  <li>you erect permanent hazard markers on both banks of the main river</li>
  <li>you remove from the flood plain all excavated material not re-used on the site of the works</li>
  <li>your works do not disturb the bed and banks of the main river</li>
</ul>

<h2 class="heading-medium">Guidance notes</h2>
<p class="text">In order to meet the description and conditions, you cannot install a pipe crossing by excavating an
open trench. </p>
' %}



<!-- FRA5  ########################################################################## -->
{% set FRA5 = '
<p class="text">  Your activity must meet all these conditions to be exempt. This is a guide and not the full legal conditions.</p>

<h2 class="heading-medium">Design of the work</h2>
<p class="text">  The footbridge:</p>
<ul class="list list-bullet">
  <li>    is not for vehicles  </li>
  <li>    is no more than 8 metres bank to bank</li>
<li>  has no support in the watercourse</li>
<li>  deck is no wider than 1.5 m</li>
<li>  kickerboard is no taller than 100mm</li>
<li>  does not reduce the cross-sectional area of the river</li>
<li>  is not within 100 metres of any non-agricultural structure in the floodplain</li>
<li> is securely attached to foundations which are no closer than 1 metre to the edge of the bank</li>
<li>construction does not need reinforcement of the bed or banks</li>
<li> approach ramp or steps no further than 4 metres from the bank</li>
<li> is at least 600mm higher than the banks</li>
<li> parapets are post and rail or post and wire with at least 100mm spacing</li>
</ul>

<h2 class="heading-medium">How you carry out the work</h2>
<p>You must make sure that:</p>
<ul class="list list-bullet">
  <li>    all excavated material is removed from the flood plain unless it is re-used  </li>
  <li>    there are no significant adverse effects on protected or priority species  </li>
  <li>   the bank disturbed by the construction is no more than 1 metre on either side of the footbridge  </li>
  <li>  the height of the land at each end is not changed  </li>
  <li>   the river bed is not affected  </li>
</ul>

<h2 class="heading-medium">Location of the work</h2>
  <p>The work cannot be on or within:</p>
<ul class="list list-bullet">
  <li>    500m of a:
    <ul class="list list-bullet">
        <li>Special Protection Area</li>
        <li>Special Area for Conservation</li>
        <li>Ramsar site</li>
        <li>Site of Special Scientific Interest</li>
        <li>Local Nature Reserve</li>
      </ul>
  </li>
  <li>    100m of a river or lake having "high morphological status"  </li>
</ul>
'
%}

<!-- FRA6  ########################################################################## -->
{% set FRA6 = '
<h2 class="heading-medium">Description</h2>
<p class="text">This exemption allows Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>

<h2 class="heading-medium">Conditions</h2>
<p class="text">For your activity to be exempt it must meet all of the conditions below:</p>
<ul class="list list-bullet">
  <li>you cannot carry out the activity on Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
  <li>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
  <li>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</li>
  <li>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
  <li>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
</ul>

<h2 class="heading-medium">Guidance notes</h2>
<p class="text">In order to meet the description and conditions, you cannot enim ad minim veniam, quis nostrud exercitation.</p>
' %}

<!-- FRA7  ########################################################################## -->
{% set FRA7 = FRA6 %}

<!-- FRA8  ########################################################################## -->
{% set FRA8 = FRA6 %}

<!-- FRA9  ########################################################################## -->
{% set FRA9 = FRA6 %}

<!-- FRA10  ########################################################################## -->
{% set FRA10 = FRA6 %}

<!-- FRA11  ########################################################################## -->
{% set FRA11 = FRA6 %}

<!-- FRA12  ########################################################################## -->
{% set FRA12 = FRA6 %}

<!-- FRA13  ########################################################################## -->
{% set FRA13 = FRA6 %}

<!-- FRA14  ########################################################################## -->
{% set FRA14 = FRA6 %}

<!-- FRA15  ########################################################################## -->
{% set FRA15 = FRA6 %}

<!-- FRA16  ########################################################################## -->
{% set FRA16 = FRA6 %}

<!-- FRA17  ########################################################################## -->
{% set FRA17 = FRA6 %}

<!-- FRA18  ########################################################################## -->
{% set FRA18 = FRA6 %}

<!-- FRA19  ########################################################################## -->
{% set FRA19 = FRA6 %}

<!-- FRA20  ########################################################################## -->
{% set FRA20 = FRA6 %}

<!-- FRA21  ########################################################################## -->
{% set FRA21 = FRA6 %}

<!-- FRA22  ########################################################################## -->
{% set FRA22 = FRA6 %}

<!-- FRA23  ########################################################################## -->
{% set FRA23 = FRA6 %}

<!-- FRA24  ########################################################################## -->
{% set FRA24 = FRA6 %}

<!-- FRA25  ########################################################################## -->
{% set FRA25 = FRA6 %}

<!-- FRA26  ########################################################################## -->
{% set FRA26 = FRA6 %}

<!-- FRA27  ########################################################################## -->
{% set FRA27 = FRA6 %}

<!-- FRA28  ########################################################################## -->
{% set FRA28 = FRA6 %}
