{% set text_fra3 = '
<p class="text">
  Your activity must meet all these conditions to be exempt. This is a guide and not the full legal conditions.
</p>

<h2 class="heading-medium">Design of the work</h2>

<p class="text">
  The crossing is:
</p>

<ul class="list list-bullet">
  <li>
    at right angles (+/- 10 degrees) to the direction of flow
  </li>
  <li>
    at least 1.5m below the river bed
  </li>
  <li>
    drilled level from 5m each side of the bank
  </li>
  <li>
    built so the launch and reception pits are at least:
    <ul class="list list-bullet">
      <li>
        8m beyond the bank for a non-tidal river
      </li>
      <li>
        16m beyond the bank for a tidal river
      </li>
    </ul>
  </li>
  <li>
    not passing through any bank, culvert, remote defence, river control
    works or sea defence
  </li>
  <li>
    50m or more upstream of any impoundment or artificially raised
    channel
  </li>
</ul>


<h2 class="heading-medium">How you carry out the work</h2>

<p>You must:</p>

<ul class="list list-bullet">
  <li>
    erect permanent hazard markers on both banks
  </li>
  <li>
    remove all excavated material from the flood plain unless it is re-used
  </li>
  <li>
    not allow the works to disturb the bed or banks
  </li>

</ul>


<h2 class="heading-medium">Location of the work</h2>

  <p>The work cannot be on or within:</p>

<ul class="list list-bullet">
  <li>
    200m of a:
    <ul class="list list-bullet">
      <li>Special Protection Area</li>
        <li>Special Area for Conservation</li>
        <li>Ramsar site</li>
        <li>Site of Special Scientific Interest</li>
        <li>Local Nature Reserve</li>
      </ul>
  </li>
  <li>
    100m of a river or lake having "high morphological status"
  </li>
</ul>
'
%}
