{% set text_fra5 = '
<p class="text">
  Your activity must meet all these conditions to be exempt. This is a guide and not the full legal conditions.
</p>

<h2 class="heading-medium">Design of the work</h2>

<p class="text">
  The footbridge:
</p>

<ul class="list list-bullet">
  <li>
    is not for vehicles
  </li>
  <li>
    is no more than 8 metres bank to bank
</li>
<li>
  has no support in the watercourse
</li>
<li>
  deck is no wider than 1.5 m
</li>
<li>
  kickerboard is no taller than 100mm
</li>
<li>
  does not reduce the cross-sectional area of the river
</li>
<li>
  is not within 100 metres of any non-agricultural structure in the floodplain
</li>
<li>
 is securely attached to foundations which are no closer than 1 metre to the edge of the bank
</li>
<li>
construction does not need reinforcement of the bed or banks
</li>
<li>
 approach ramp or steps no further than 4 metres from the bank
</li>
<li>
 is at least 600mm higher than the banks
</li>
<li>
 parapets are post and rail or post and wire with at least 100mm spacing
</li>

</ul>


<h2 class="heading-medium">How you carry out the work</h2>

<p>You must make sure that:</p>

<ul class="list list-bullet">
  <li>
    all excavated material is removed from the flood plain unless it is re-used
  </li>
  <li>
    there are no significant adverse effects on protected or priority species
  </li>
  <li>
   the bank disturbed by the construction is no more than 1 metre on either side of the footbridge
  </li>
  <li>
  the height of the land at each end is not changed
  </li>
  <li>
   the river bed is not affected
  </li>

</ul>


<h2 class="heading-medium">Location of the work</h2>

  <p>The work cannot be on or within:</p>

<ul class="list list-bullet">
  <li>
    500m of a:
    <ul class="list list-bullet">
        <li>Special Protection Area</li>
        <li>Special Area for Conservation</li>
        <li>Ramsar site</li>
        <li>Site of Special Scientific Interest</li>
        <li>Local Nature Reserve</li>
      </ul>
  </li>
  <li>
    100m of a river or lake having "high morphological status"
  </li>
</ul>
'
%}
