{% macro input(id, label, value, name, type) %}
<label for="idnum_{{ id }}" class="block-label">
  <input id="idnum_{{ id }}" type="{{ type }}" name="{{ name }}" value="{{ value }}">
  {{ label|safe }}
</label>
{% endmacro %}


{% macro exemption(id, label, value, name, desc, type) %}
<label for="id_{{ id }}" class="block-label exemption">
  <input id="id_{{ id }}" type="{{ type }}" name="{{ name }}" value="{{ value }}" aria-describedby="desc_{{ id }}">
  {{ label|safe }}

<details id="desc_{{ id }}">
  <summary><span class="summary">Conditions</span><span class="visuallyhidden"> for {{ id }}</span></summary>
  <div>
    <p>{{ desc|safe }} <a href="/version_1/exemptions/details-FRA3-v2" target="_blank">Full conditions<span class="visuallyhidden"> for exemption {{ id }}</span>.</a></p>
  </div>
</details>

<span class="exmpt">{{ id }}</span>
</label>

{% endmacro %}
