{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          What's the registration number of the partnership?
        </h1>

        <div class="form-group">
          <details>
            <summary id="show-hide-details-summary-0" aria controls="details-content-0" tabindex="0" aria-controls="details-content-0" role="button">
              <span class="summary">What's this?</span>
            </summary>

            <div style="display:block" class="panel-indent" id="details-content-0">
              <p> A company registration number is allocated by Companies House when a limited company is registered.</p>
              <p>It comprises an 8 digit number or 2 letters followed by a 6 digit number.</p>
            </div>
          </details>
        </div>

        <fieldset>
          <legend class="visuallyhidden">Registration number of the partnership</legend>

          <!-- Company number -->
          <div class="form-group">
            <label class="form-label" for="limited-liability-number">Registration number</label>
            <input type="text" class="form-control" id="limited-liability-number" />
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}