{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <form action="/" method="post" class="form">

    <a class="link-back" href="">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          What's the name of the local authority?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Local authority name</legend>

          <!-- Local authority name -->
          <div class="form-group">
            <label class="form-label" for="authority-name">Local authority name</label>
            <p class="form-hint">For example, Bristol City Council</p>
            <input type="text" class="form-control" id="authority-name" />
          </div>

        </fieldset>

      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue" />
    </div>

  </form>

</main>
{% endblock %}