{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Who's responsible for the activity?
        </h1>

        <table summary="partner-details-summary" class="summary-table" role="presentation">
          <thead>
            <tr>
              <th colspan="3">
                <h2 class="heading-medium">
              Responsible partners
              </h2>
              </th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>
                Tom Riddle
                <br />15 Maple Drive
                <br /> Kendal
                <br /> LA9 5BN
              </td>
              <td><a href="/version_1/user_type/partnership" class="link">Remove details</a></td>
            </tr>

          </tbody>
        </table>

        <br />

        <div class="form-group">
          <a href="/version_1/user_type/partnership" class="example-back-link">Add another partner</a>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}