{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <form action="/" method="post" class="form">

    <a class="link-back" href="">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          Who's accountable for the thing?
        </h1>

        <h2 class="heading-medium">
          Add a business partner
        </h2>

        <fieldset>
          <legend class="visuallyhidden">Who's accountable for the thing?</legend>

          <!-- Full name -->
          <div class="form-group">
            <label class="form-label" for="full-name">Full name</label>
            <p class="form-hint">For example, John Smith</p>
            <input type="text" class="form-control" id="full-name" />
          </div>

          <!-- Postcode look-up -->
          <div class="form-group">
            <label class="form-label" for="postcode">Enter a UK postcode</label>
            <span class="form-hint">For example, BS1 5AH</span>
            <input type="text" class="form-control" id="postcode" />
          </div>

        </fieldset>

        <!-- Show and hide address-->
        <details>
          <summary id="show-hide-details-summary-0" aria controls="details-content-0" tabindex="0" aria-controls="details-content-0" role="button">
            <span class="summary">Enter address manually</span>
          </summary>
          <span style="display:block" class="panel-indent" id="details-content-0" />

          <br />

          <!-- Manual entered address -->
          <div class="form-group">
            <label class="form-label" for="premises">Building name or number
            </label>
            <div class="form-hint">For example, a business premises name or house number</div>
            <input type="text" class="form-control" id="premises" />
          </div>

          <div class="form-group">
            <label class="form-label" for="street_address">Street line 1</label>
            <input type="text" class="form-control" id="street_address" />
          </div>

          <div class="form-group">
            <label class="form-label" for="locality">Street line 2 <span class="inline form-hint">(optional)</span></label>
            <input type="text" class="form-control" id="locality" />
          </div>

          <div class="form-group">
            <label class="form-label" for="city">Town</label>
            <input type="text" class="form-control" id="city" />
          </div>

          <div class="form-group">
            <label class="form-label" for="manual-postcode">Postcode</label>
            <input type="text" class="form-control" id="manual-postcode" />
          </div>

        </details>

        <!-- Primary button -->
        <div class="form-group">
          <input type="submit" class="button" value="Find address" />
        </div>

      </div>
    </div>

  </form>

</main>
{% endblock %}
