{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <form action="/" method="post" class="form">

    <a class="link-back" href="">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          What type of user are you?
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              User type
            </legend>

            <label class="block-label" for="local_authority">
              <input id="local_authority" type="radio" name="radio-inline-group" value="local_authority" /> Local authority
            </label>
            <label class="block-label" for="limited_company">
              <input id="limited_company" type="radio" name="radio-inline-group" value="limited_company" /> Limited company
            </label>
            <label class="block-label" for="limited_liability">
              <input id="limited_liability" type="radio" name="radio-inline-group" value="limited_liability" /> Limited liability partnership
            </label>
            <label class="block-label" for="individual">
              <input id=" individual" type="radio" name="radio-inline-group" value="individual" /> Individual
            </label>
            <label class="block-label" for="partnership">
              <input id="partnership" type="radio" name="radio-inline-group" value="partnership" /> Partnership
            </label>
            <label class="block-label" for="other">
              <input id="other" type="radio" name="radio-inline-group" value="other" /> Other (for example: trust, club or public body)
            </label>
            <label class="block-label" for="not_known">
              <input id="not_known" type="radio" name="radio-inline-group" value="not_known" /> I don't know
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </div>
    </div>

  </form>

</main>
{% endblock %}