{% extends "layout.html" %}

{% block page_title %}
  {{ title if title else "Title not set" }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          {{ title if title else "Title not set" }}
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Address</legend>

          <!-- Address -->
          <div class="form-group">
            <label class="form-label" for="the_address">Select address</label>
            <select class="address-select form-control" id="the_address">
              <option value="business_address">15 addresses found</option>
              <option value="business_address">3, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">5, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">7, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">9a, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">9b, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">10, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">11, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">12, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">13, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">15, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">17, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">Flat 1, 19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">Flat 2, 19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">21, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">22, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
            </select>
          </div>

        </fieldset>

        <!-- Show and hide address-->
        <details>
          <summary id="show-hide-details-summary-0" aria controls="details-content-0" tabindex="0" aria-controls="details-content-0" role="button">
            <span class="summary">Enter address manually</span>
          </summary>
          <span style="display:block" class="panel-indent" id="details-content-0" />

          <br />

          <!-- Manual entered address -->
        <fieldset>
          <legend class="visuallyhidden">Address</legend>

          <div class="form-group">
            <label class="form-label" for="premises">Building name or number
            </label>
            <div class="form-hint">For example, a business premises name or house number</div>
            <input type="text" class="form-control" id="premises" />
          </div>

          <div class="form-group">
            <label class="form-label" for="street_address">Address line 1</label>
            <input type="text" class="form-control" id="street_address" />
          </div>

          <div class="form-group">
            <label class="form-label" for="locality">Address line 2 (optional)</label>
            <input type="text" class="form-control" id="locality" />
          </div>

          <div class="form-group">
            <label class="form-label" for="town">Town</label>
            <input type="text" class="form-control" id="town" />
          </div>

          <div class="form-group">
            <label class="form-label" for="manual-postcode">Postcode</label>
            <input type="text" class="form-control form-postcode" id="manual-postcode" />
          </div>

        </fieldset>

        </details>

        <br />

        <!-- Primary button -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
