{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <form method="post" class="form">

    {% include "custom_inc/backlink.html" %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <form method="post" class="form" action="/">

          <h1 class="heading-large">
            Have you called us to check the location of your activity?
          </h1>

          <br />

          <fieldset>

            <legend class="visuallyhidden">
              Have you checked the location with us?
            </legend>

            <div class="notice"><i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
              <strong class="bold-small">You must contact us before you start this registration to check the location of your activity.</strong>
            </div>

            <br />

            <p class="panel panel-border-wide">Call us on 03708 506 506 to check if your activities are on a main river and if they are near any sensitive areas such as a nature reserve.
              <br /><a href="">Flood risk activities guidance</a>
            </p>

            <br />

            <div class="form-group">
              <label class="block-label" for="location_check_yes">
                <input id="location_check_yes" type="radio" name="location_check" value="location_check_yes" /> Yes, the location has been checked
              </label>
              <label class="block-label" for="location_check_no">
                <input id="location_check_no" type="radio" name="location_check" value="location_check_no" /> No
              </label>
            </div>

          </fieldset>

          <div class="form-group">
            <input type="submit" class="button" value="Continue" />
          </div>

        </form>

      </div>
    </div>

  </form>

</main>
{% endblock %}
