{% extends "layout.html" %} {% block page_title %} Register your flood risk activity exemption {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Register your flood risk activity exemption
      </h1>

      <h2 class="heading-medium">Before you start</h2>

      <ul class="list list-number">
        <li>Read the <a href="https://www.gov.uk/guidance/register-your-flood-risk-exemption-environmental-permits">flood risk activities guidance</a>.</li>
        <li>Decide whether any of the exemptions apply to your activities.</li>
        <li>Check that each activity will meet the conditions of the relevant exemption.</li>
        <li>Call us to check if your activities are on a main river and if they are near any environmentally sensitive areas or a flood defence. Our number is 03708 506 506.</li>
      </ul>

      <p>
        <span class="bold-small">Dredging exemptions</span><br />
        You can’t register the exemptions for dredging, FRA23 and FRA24, online. Please contact us to register these.
      </p>

      <p>It’s free to register an exemption. It should take about 10 minutes.</p>

      <p>
        <a class="button button-start" href="/version_2/start/check_location" role="button">Start now</a>
      </p>

      <p>You'll need:</p>

      <ul class="list list-bullet">
        <li>the grid reference where the work will happen</li>
        <li>the name and address of the organisation or person who is legally responsible for the work</li>
        <li>for a company, its registration number and registered address</li>
        <li>for a partnership, the name and address of all partners</li>
        <li>contact details for the person we should contact about the work</li>
      </ul>

      <div class="contact">
        <h3 class="heading-medium">Contact the Environment Agency</h3>
        <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
        <br /> Telephone: 03708 506 506
        <br /> Minicom: 03702 422 549
        <br /> Monday to Friday, 8am to 6pm
      </div>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Flood risk activities</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/guidance/register-your-flood-risk-exemption-environmental-permits">Flood risk activities guidance</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
