{% extends "layout.html" %} {% block page_title %} Check your answers {% endblock %} {% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers before completing this registration
  </h1>

  <p class="panel-indent">
    We’ll send a copy of this summary in the confirmation email
  </p>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Registration details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Grid reference
        </td>
        <td>
          ST 58132 72695
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Change grid reference</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Exemption
        </td>
        <td>
          Construction of footbridges
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exemption</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Contact details
        </td>
        <td>
          Tom Riddle
          <br />15 Maple Drive
          <br /> Kendal
          <br /> LA9 5BN
          <br /> Tel: 01539 725 345
          <br /> Email: tom.riddle@gmail.com
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Change contact details</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Type of user
        </td>
        <td>
          Public organisation
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Change public organisation</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Activity contact
        </td>
        <td>
          Tom Riddle
          <br />15 Maple Drive
          <br /> Kendal
          <br /> LA9 5BN
          <br /> Tel: 01539 725 345
          <br /> Email: tom.riddle@gmail.com
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Change public organisation</span>
          </a>
        </td>
      </tr>

    </tbody>
  </table>

  <br />

  <div class="form-group">
    <a href="confirmation-page" class="button">Continue</a>
  </div>

</main>

{% endblock %}