{% extends "layout.html" %} {% block page_title %} Check your answers {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <form method="post" class="form">

    <h1 class="heading-large">
    Check your answers before completing this registration
  </h1>

    <p class="panel panel-border-wide">
      We’ll send a copy of this summary in the confirmation email
    </p>

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
            Registration details
          </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Grid reference
          </td>
          <td>
            ST 58132 72695
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden">Change grid reference</span>
          </a>
          </td>
        </tr>
        <tr>
          <td>
            Exemption 4
          </td>
          <td>
            Construction of footbridges
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden">Change exemption 4</span>
          </a>
          </td>
        </tr>
        <tr>
          <td>
            Exemption 8
          </td>
          <td>
            Maintenance of structures within the channel of a main river
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden">Change exemption 8</span>
          </a>
          </td>
        </tr>
        <tr>
          <td>
            Customer type
          </td>
          <td>
            Local authority
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden">Change local authority</span>
          </a>
          </td>
        </tr>
        <tr>
          <td>
            Person responsible for activity
          </td>
          <td>
            Tom Riddle
            <br />15 Maple Drive
            <br /> Kendal
            <br /> LA9 5BN
            <br /> Tel: 01539 725 345
            <br /> Email: tom.riddle@email.com
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden">Change contact details</span>
          </a>
          </td>
        </tr>
        <tr>
          <td>
            Who we will contact
          </td>
          <td>
            Tom Riddle
            <br /> 500 Deanery Road
            <br /> Bristol
            <br /> BS1 5AH
            <br /> Tel: 03708 506506
            <br /> Email: tom.riddle@email.com
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden">Change contact details</span>
          </a>
          </td>
        </tr>

      </tbody>
    </table>

    <br />

    <div class="form-group">
      <input type="submit" class="button" value="Continue" />
    </div>

  </form>

</main>

{% endblock %}