{% extends "layout.html" %} {% block page_title %} Confirmation page example {% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Licence issued</h1>
        <p>
          Your licence number is
          <br />
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <p>We have sent you an email with your licence number and conditions.</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>Environment Agency may check the thing you're doing to see if it matches the conditions of your licence.</p>
      <p>You can check the conditions of your licence <a href="#">here</a>.</p>

    </div>
  </div>

</main>

{% endblock %}
