{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-xlarge">
          Exemption conditions
        </h1>

        <section class="text">

          <h3 class="heading-large">FRA5</h3>

          <p>For the purposes of this paragraph, the specific conditions are:</p>

          <ul class="list list-bullet">
            <li>the length of the footbridge measured from the top of one bank of the main river to the top of the other bank is no more than 8 metres;</li>
            <li>the footbridge has no support in the watercourse, a deck width of no more than 1.5 metres and a kickerboard of no more than 100mm in height;</li>
            <li>the footbridge does not reduce the cross-sectional area of the channel in the main river;</li>
            <li>the works do not have a significant adverse effect on species included in a list published by the Secretary of State under section 41 of the Natural Environment and Rural Communities Act 2006, or by Welsh Ministers under section 42 of that
              Act(a), that are not protected species;</li>
            <li>no works take place within 100 metres of any non-agricultural building in the floodplain or another man-made structure on or in the main river;</li>
            <li>the bed of the main river is not affected by the construction;</li>
            <li>the length of bank disturbed by the construction extends to no more than 1 metre on either side of the footbridge;</li>
            <li>the footbridge is securely attached to foundations which are no closer than 1 metre to the edge of the bank;</li>
            <li>construction of the footbridge does not require reinforcement of the bed or banks;</li>
            <li>the approach ramp or steps for the footbridge do not extend more than 4 metres from the landward side of the bank;</li>
            <li>the lowest point of the underside of the bridge is at least 600mm higher than the top of both banks of the main river;</li>
            <li>all excavated material not re-used on the site of the works is removed from the floodplain;</li>
            <li>the height of the land at each end of the footbridge is not changed by the construction;</li>
            <li>the works are not carried out in, or within 100 metres of, a water body in England that is part of a main river classified as of high morphological status by the Agency in accordance with the relevant directions; and
            </li>
            <li>any parapet of the footbridge is of open construction comprising—</li>
            <ul>
              <li> (i) post and rail;</li>
              <li>(ii) postandwiremeshfencingofatleast100mmspacing;or</li>
              <li>(iii) post and wire strands.</li>
            </ul>
          </ul>

          <h2 class="heading-large">FRA9</h2>

          <p>The maintenance of structures within the channel of a main river other than raised river or sea defences.</p>

          <p>For the purposes of this paragraph, the specific conditions are:</p>

          <ul class="list list-bullet">
            <li>the maintenance works do not alter any dimension of the structure;</li>
            <li>the structure is carrying out the functions for which it was originally designed;</li>
            <li>the maintenance works use materials of the same kind as those present in the structure;</li>
            <li>the maintenance works do not occur between 15th March and 15th June inclusive in any year;</li>
            <li>on a main river that is a designated salmonid river, the maintenance works do not occur between 1st October and 14th March inclusive in any year; and</li>
            <li>the works do not have a significant adverse effect on species included in a list published by the Secretary of State under section 41 of the Natural Environment and Rural Communities Act 2006, or by Welsh Ministers under section 42 of that
              Act, that are not protected species.</li>
          </ul>

        </section>

      </form>

    </div>
  </div>

</main>
{% endblock %}