{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/design_patterns/routing_questions/phone_questions/cables" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          What are you doing?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            What are you doing? 
          </legend>

          <div class="form-group">

            <label for="what_you_digging" class="block-label">
              <input type="radio" name="what_you_digging" value="exemption_24">
              Creating a scrape or shallow wetland feature
            </label>

            <label for="what_you_digging" class="block-label">
              <input type="radio" name="what_you_digging" value="exclusion_12">
              Digging a borehole to investigate a site
            </label>

            <label for="what_you_digging" class="block-label">
              <input type="radio" name="what_you_digging" value="exclusion_12">
              Digging a trial pit to investigate a site
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}