{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Add all exemptions that apply to the activity
        </h1>

        <table summary="exemption-codes" role="presentation" class="exemption-table">
          <thead>
            <tr>
              <th class="exemption-description"><span class="heading-small">Exemption</span></th>
              <th class="exemption-description"><span class="heading-small">Description</span></th>
              <th class="exemption-checkbox"><span class="heading-small">Select exemptions</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA2</span>
              </td>
              <td class="exemption-description">
                <p>The erection of an electrical cable service crossing over a main river</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-1">
                    <input id="checkbox-1" type="checkbox" value="1" name="exemption-1" /> Electrical cable services
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA3</span>
              </td>
              <td class="exemption-description">
                <p>The erection of a service crossing below the bed of a main river by directional drilling not involving an open cut technique.</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-2">
                    <input id="checkbox-2" type="checkbox" value="2" name="exemption-2" /> Service crossings
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA4</span>
              </td>
              <td class="exemption-description">
                <p>Service crossings attached to the outside of existing structures over a main river</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-3">
                    <input id="checkbox-3" type="checkbox" value="3" name="exemption-3" /> Service crossings attached
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA5</span>
              </td>
              <td class="exemption-description">
                <p>The construction of footbridges</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-4">
                    <input id="checkbox-4" type="checkbox" value="4" name="exemption-4" /> Footbridges
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA6</span>
              </td>
              <td class="exemption-description">
                <p>The erection and use of temporary scaffolding in or over a main river in England</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-5">
                    <input id="checkbox-5" type="checkbox" value="5" name="exemption-5" /> Temporary scaffolding in England
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA7</span>
              </td>
              <td class="exemption-description">
                <p>The temporary dewatering of a work area in England</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-6">
                    <input id="checkbox-6" type="checkbox" value="6" name="exemption-6" /> Temporary dewatering in England
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA8</span>
              </td>
              <td class="exemption-description">
                <p>Using effluent to clean a highway gravel bed</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Maintenance of raised river or sea defences</legend>
                  <label class="block-label" for="checkbox-U7">
                    <input id="checkbox-U7" type="checkbox" value="7" name="exemption-7" /> The maintenance of raised river or sea defences
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA9</span>
              </td>
              <td class="exemption-description">
                <p>The maintenance of structures within the channel of a main river other than raised river or sea defences</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-8">
                    <input id="checkbox-8" type="checkbox" value="8" name="exemption-8" /> Maintenance of structures within the channel of a main river
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA10</span>
              </td>
              <td class="exemption-description">
                <p>The construction of a drinking bay on the bank of a main river</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-9">
                    <input id="checkbox-9" type="checkbox" value="9" name="exemption-9" /> Drinking bays
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA11</span>
              </td>
              <td class="exemption-description">
                <p>The construction of access platforms on the bank of a main river or that project into or over a main river</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-10">
                    <input id="checkbox-10" type="checkbox" value="10" name="exemption-10" /> Access platforms
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA12</span>
              </td>
              <td class="exemption-description">
                <p>The construction of small outfall pipes and headwalls to main rivers</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-11">
                    <input id="checkbox-11" type="checkbox" value="11" name="exemption-11" /> Outfalls
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA13</span>
              </td>
              <td class="exemption-description">
                <p>The repair and protection of main river banks using natural materials</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-12">
                    <input id="checkbox-12" type="checkbox" value="12" name="exemption-12" /> Repair and protection of banks
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA14</span>
              </td>
              <td class="exemption-description">
                <p>Repair of bank slips and erosion</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-13">
                    <input id="checkbox-13" type="checkbox" value="13" name="exemption-13" /> Repair of bank slips and erosion
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA15</span>
              </td>
              <td class="exemption-description">
                <p>The installation of channel habitat structures made of natural materials excluding weirs and berms</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-14">
                    <input id="checkbox-14" type="checkbox" value="14" name="exemption-14" /> Channel habitat structures made of natural materials
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA16</span>
              </td>
              <td class="exemption-description">
                <p>The installation of rafts for surveys</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-15">
                    <input id="checkbox-15" type="checkbox" value="15" name="exemption-15" /> Raft for surveys
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA17</span>
              </td>
              <td class="exemption-description">
                <p>Gravel-cleaning for fish-spawning beds</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-16">
                    <input id="checkbox-16" type="checkbox" value="16" name="exemption-16" /> Gravel-cleaning for fish-spawning beds
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA18</span>
              </td>
              <td class="exemption-description">
                <p>Placement of stones or logs in the channel of a main river in England for habitat enhancement</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-17">
                    <input id="checkbox-17" type="checkbox" value="17" name="exemption-17" /> Placement of stones or logs in a main river in England for habitat enhancemen
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA19</span>
              </td>
              <td class="exemption-description">
                <p>Construction of eel pass devices on existing structures</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-18">
                    <input id="checkbox-18" type="checkbox" value="18" name="exemption-18" /> Eel pass devices
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA20</span>
              </td>
              <td class="exemption-description">
                <p>Construction of fish passage notches on an existing impoundment</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-19">
                    <input id="checkbox-19" type="checkbox" value="19" name="exemption-19" /> Fish passage notches
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA21</span>
              </td>
              <td class="exemption-description">
                <p>The removal of silt and sand from within bridge arches in England and any material from within culverts in England</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-20">
                    <input id="checkbox-20" type="checkbox" value="20" name="exemption-20" /> Removal of silt, sand and other material in England
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA22</span>
              </td>
              <td class="exemption-description">
                <p>The removal of silt and sand adjacent to in-river structures in England</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-21">
                    <input id="checkbox-21" type="checkbox" value="21" name="exemption-21" /> Removal of silt and sand adjacent to in-river structures in England
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA23</span>
              </td>
              <td class="exemption-description">
                <p>Dredging of no more than 1.5 kilometres of man-made ditches, land drains, agricultural drains and previously straightened watercourses classified as main rivers in England</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-22">
                    <input id="checkbox-22" type="checkbox" value="22" name="exemption-22" /> Dredging of man-made ditches, land drains, agricultural drains and previously straightened watercourses in England
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA24</span>
              </td>
              <td class="exemption-description">
                <p>Dredging of no more than 20 metres of any main river in England</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-23">
                    <input id="checkbox-23" type="checkbox" value="23" name="exemption-23" />Dredging of any main river in England
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA25</span>
              </td>
              <td class="exemption-description">
                <p>The excavation of scrapes and shallow wetland features in a floodplain</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-24">
                    <input id="checkbox-24" type="checkbox" value="24" name="exemption-24" />Excavation of scrapes and shallow wetland features
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA26</span>
              </td>
              <td class="exemption-description">
                <p>The construction of raised flood defences around one to six adjoining properties in England</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-25">
                    <input id="checkbox-25" type="checkbox" value="25" name="exemption-25" /> Raised flood defences in England
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA27</span>
              </td>
              <td class="exemption-description">
                <p>Construction of bankside wildlife refuge structures</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-26">
                    <input id="checkbox-26" type="checkbox" value="26" name="exemption-26" /> Bankside wildlife refuge structures
                  </label>
                </fieldset>
              </td>
            </tr>
            <tr>
              <td class="exemption-description">
                <span class="heading-large">FRA28</span>
              </td>
              <td class="exemption-description">
                <p>Improvement works for tracks and paths</p>
              </td>
              <td class="exemption-select">
                <fieldset>
                  <legend class="visuallyhidden">Select all your waste exemptions</legend>
                  <label class="block-label" for="checkbox-27">
                    <input id="checkbox-27" type="checkbox" value="27" name="exemption-27" /> Improvement works for tracks and paths
                  </label>
                </fieldset>
              </td>
            </tr>

          </tbody>
        </table>

        <br />
        <br />

        <div class="form-group">
          <input type="submit" class="button" value="Add exemptions and continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
