{% extends "layout.html" %}

{% block page_title %}
  Service crossing below the river bed: conditions (FRA3)
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          <span class="font-medium">Conditions for FRA3</span><br />
          Service crossing below the bed of a main river by directional drilling
        </h1>

        <p class="text">
          Your activity must meet all of these conditions to be exempt. This is a guide and not the legal document.
        </p>

        <h2 class="heading-medium">Design of the works</h2>

        <p class="text">
          The crossing is:
        </p>

        <ul class="list list-bullet">
          <li>
            at right angles (+/- 10 degrees) to the direction of flow
          </li>
          <li>
            at least 1.5m under the river bed
          </li>
          <li>
            drilled level from 5 metres each side of the bank
          </li>
          <li>
            built so the launch and reception pits beyond the bank is at least:
            <ul class="list list-bullet">
              <li>
                8 metres for a non-tidal river
              </li>
              <li>
                16 metres for a tidal river
              </li>
            </ul>
          </li>
          <li>
            not passing through any bank, culvert, remote defence, river control
            works or sea defence
          </li>
          <li>
            50 metres or more upstream of any impoundment or artificially raised
            channel
          </li>
        </ul>


        <h2 class="heading-medium">How you carry out the work</h2>

        <ul class="list list-bullet">
          <li>
            you must erect permanent hazard markers on both banks
          </li>
          <li>
            you must remove all excavated material from the flood plain unles it is re-used
          </li>
          <li>
            your works must not disturb the bed and banks of the river
          </li>

        </ul>


        <h2 class="heading-medium">Location of the work</h2>

        <ul class="list list-bullet">
          <li>
            you cannot carry out the activity on, or within 200m of, a site designated as a Special
            Protection Area (SPA), Special Area for Conservation (SAC), Ramsar site, Site of Special
            Scientific Interest (SSSI) or Local Nature Reserve (LNR)
          </li>
          <li>
            you cannot carry out any work in or within 100m of a river or lake in England or (if your activity
            is near the border) in Wales that is classified as of high morphological status under the Water
            Framework Directive
          </li>
        </ul>

    </div>
  </div>

</main>
{% endblock %}
