{% extends "layout.html" %}

{% block page_title %}
  FRA3 Service crossing below the river bed: conditions
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          FRA3 Service crossing below the bed of a main river by directional drilling: conditions
        </h1>

        <h2 class="heading-medium">Description</h2>

        <p class="text">
          This exemption allows you to install a service crossing below the bed of a main river not using an
          open cut technique but using directional drilling, for example to install an electricity service duct.
        </p>

        <h2 class="heading-medium">Conditions</h2>
        <p class="text">
          For your activity to be exempt it must meet all of the conditions below:
        </p>

        <ul class="list list-bullet">
          <li>
            you cannot carry out the activity on, or within 200m of, a site designated as a Special
            Protection Area (SPA), Special Area for Conservation (SAC), Ramsar site, Site of Special
            Scientific Interest (SSSI) or Local Nature Reserve (LNR). The locations of all these sites are
            available to view on MAGIC at www.magic.gov.uk
          </li>
          <li>
            you cannot carry out any work in or within 100m of a river or lake in England or (if your activity
            is near the border) in Wales that is classified as of high morphological status under the Water
            Framework Directive. For information call the Environment Agency customer contact centre on
            03708 506 506.
          </li>
          <li>
            the service crossing is within 10° of perpendicular to the direction of flow in the main river
          </li>
          <li>
            the distance from the bed of the main river to the top of the service crossing is at least 1.5
            metres along its whole length, and the same height above sea level is maintained between
            points 5 metres beyond the top of each bank of the main river
          </li>
          <li>
            the distance from the launch and reception pits to the landward side of each bank of the main
            river is:
            <ul class="list list-bullet">
              <li>
                8 metres or more in the case of a non-tidal main river
              </li>
              <li>
                16 metres or more in the case of a tidal main river
              </li>
            </ul>
          </li>
          <li>
            the service crossing does not pass through any bank, culvert, remote defence or river control
            works on the main river or through any sea defence
          </li>
          <li>
            the service crossing is 50 metres or more upstream of any impoundment or artificially raised
            channel
          </li>
          <li>
            you erect permanent hazard markers on both banks of the main river
          </li>
          <li>
            you remove from the flood plain all excavated material not re-used on the site of the works
          </li>
          <li>
            your works do not disturb the bed and banks of the main river
          </li>

        </ul>

        <h2 class="heading-medium">Guidance notes</h2>
        <p class="text">
          In order to meet the description and conditions, you cannot install a pipe crossing by excavating an
        open trench.
        </p>

    </div>
  </div>

</main>
{% endblock %}
