{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/design_patterns/routing_questions/exclusions/fencing_notice_boards" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Are you doing 'minor works' on the river?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Are you doing minor works on the river?</legend>

          <div class="form-group">
            <label for="minor_works" class="block-label">
              <input type="radio" name="minor_works" value="1">
              Yes
            </label>

            <label for="minor_works" class="block-label">
              <input type="radio" name="minor_works" value="0">
              No
            </label>
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}