{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Where will the thing take place?
        </h1>

        <fieldset>

          <legend class="visuallyhidden">Location of the thing</legend>

          <div class="form-group">

            <label class="block-label" for="radio-1">
              <input id="radio-1" type="radio" name="radio-group" value="single_grid_reference" /> Single grid reference
            </label>

            <label class="block-label" for="radio-2">
              <input id="radio-2" type="radio" name="radio-group" value="two_more_grid_references" /> Two or more grid reference
            </label>

            <p>or</p>

            <label class="block-label" for="radio-3">
              <input id="radio-3" type="radio" name="radio-group" value="start_and_end_grid_references" /> Start and end grid references
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>

  </div>

</main>
{% endblock %}