{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Tell us where the activity is taking place
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Tell us where the activity is taking place</legend>

          <!-- Manual address look-up
          <div class="form-group">
            <label class="form-label" for="grid-reference">Provide more site details</label>
            <p class="form-hint">Useful information might include:</p>
            <ul class="list-bullet form-hint">
              <li>nearby landmarks</li>
              <li>site description</li>
              <li>man-made features, for example: roads, walls or buildings</li>
              <li>natural features, for example: rivers, trees or hedges</li>
            </ul>
            <textarea class="form-control form-control-textarea" id="location-comments" rows="6" cols="50"></textarea>
            <p class="form-hint">500 character limit</p>
          </div>
          -->

          <p>Please give us the Ordnance Survey National Reference</p>

          <p>If the site is made of a number of different activitiestht are a distance apart, give each of the individual grid references.</p>

          <!-- Grid reference -->
          <div class="form-group">
            <label class="form-label" for="grid-reference-1">Provide a national grid reference</label>
            <p class="form-hint">For example, ST 58132 72695</p>
            <input type="text" class="form-control" id="grid-reference-1" />
          </div>

          <div class="form-group">
            <label class="form-label" for="grid-reference-2">Provide a national grid reference</label>
            <p class="form-hint">For example, ST 58132 72695</p>
            <input type="text" class="form-control" id="grid-reference-2" />
          </div>

          <!-- second grid reference -->
          <details>

            <summary><span class="summary">Add grid reference</span></summary>

            <div class="form-group" style="padding-top: 18px;">
              <label class="form-label" for="grid-reference">Provide a national grid reference</label>
              <p class="form-hint">For example, ST 58132 72695</p>
              <input type="text" class="form-control" id="grid-reference" />
            </div>

            <!-- third grid reference -->
            <details>

              <summary><span class="summary">Add grid reference</span></summary>

              <div class="form-group" style="padding-top: 18px;">
                <label class="form-label" for="grid-reference-3">Provide a national grid reference</label>
                <p class="form-hint">For example, ST 58132 72695</p>
                <input type="text" class="form-control" id="grid-reference-3" />
              </div>

            </details>

          </details>

        </fieldset>

        <!-- Primary button -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}