{% extends "layout.html" %}
{% block page_title %}
Register a flood risk activity exemption
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

      <form method="post" class="form">

      <header class="text">
        <h1 class="form-title heading-large">
          Register a flood risk activity exemption
        </h1>
      </header>

      <h2 class="heading-small">You must:</h2>

      <ul class="list list-bullet text">
        <li>
          check you can do the work to meet the conditions - for exemptions, we don’t check this for you
        </li>
        <li>
          have authority to register, if you register for an organisation or as an agent
        </li>
      </ul>

      <h2 class="heading-small">We will:</h2>

      <ul class="list list-bullet text">
        <li>
          check if the location is environmentally sensitive or too close to a flood defence structure
        </li>
        <li>
          tell you the results of the location check within 10 working days
        </li>
      </ul>


      <!-- Find grid reference -->
      <details class="heading_section">
        <summary><span class="summary"><h2 class="bold-small">You will need:</h2></span></summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet text">
            <li>
              the grid reference where the work will happen
            </li>
            <li>
              the name and address of the organisation or person who is responsible for the work
            </li>
            <li>
              for a company, its registration number and registered address
            </li>
            <li>
              for a partnership, the name and address of all partners
            </li>
            <li>
              contact details for the person we should contact about the work
            </li>
          </ul>
        </div>
      </details>


      <div class="form-group">
        <input type="submit" class="button" value="Continue" />
      </div>

      </form>


</main>
{% endblock %}
