{% extends "layout.html" %} {% block page_title %} Check your answers {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %} {% include "custom_inc/backlink.html" %}

  <form method="post" class="form">

    <h1 class="heading-large">
    Check your answers before completing this registration
  </h1>

    <p class="panel panel-border-wide">
      We’ll send a copy of these details in the confirmation email.
    </p>

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
            Registration details
          </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Registration date
          </td>
          <td>
            21 April 2016
          </td>
          <td class="change-answer">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            Exemption FRA5
          </td>
          <td>
            Footbridge 8m bank to bank maximum
          </td>
          <td class="change-answer">
            <a href="/version_2/exemptions/check_exemptions">
            Change <span class="visuallyhidden"> exemption FRA5</span>
          </a>
          </td>
        </tr>
        <tr>
          <td>
            Exemption FRA9
          </td>
          <td>
            Maintenance of structures in the river (not raised defences)
          </td>
          <td class="change-answer">
            <a href="/version_2/exemptions/check_exemptions">
            Change <span class="visuallyhidden"> exemption FRA9</span>
          </a>
          </td>
        </tr>
        <tr>
          <td>
            Grid reference
          </td>
          <td>
            ST 58132 72695
          </td>
          <td class="change-answer">
            <a href="/version_2/location/grid_reference">
            Change <span class="visuallyhidden"> grid reference</span>
          </a>
          </td>
        </tr>



        <tr>
          <td>
            Customer type
          </td>
          <td>
            Limited company
          </td>
          <td class="change-answer">
            <a href="/version_2/contact/main_contact_name">
            Change <span class="visuallyhidden">customer type</span>
          </a>
          </td>
        </tr>

        <tr>
          <td>
            Responsible for activity (‘operator’)
          </td>
          <td>
            Careful Contractor Ltd
            <br />Some address, Someshire
          </td>
          <td class="change-answer">
            <a href="/version_2/contact/main_contact_name">
            Change <span class="visuallyhidden"> contact details</span>
          </a>
          </td>
        </tr>


        <tr>
          <td>
            Who we will contact
          </td>
          <td>
            Sarah Site Manager
            <br /> Tel: 03708 506506
            <br /> sara@careful.com
          </td>
          <td class="change-answer">
            <a href="/version_2/contact/applicant_contact_name">
            Change <span class="visuallyhidden">Change contact details</span>
          </a>
          </td>
        </tr>

      </tbody>
    </table>

    <br />

    <div class="form-group">
      <input type="submit" class="button" value="Continue" />
    </div>

  </form>

</main>

{% endblock %}
