{% extends "layout.html" %} {% block page_title %} Check your answers {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %} {% include "custom_inc/backlink.html" %}

  <form method="post" class="form">

    <h1 class="heading-large">
    Check your answers before completing this registration
  </h1>

    <p class="panel panel-border-wide">
      We’ll send a copy of these details in the confirmation email.
    </p>

    <h2 class="heading-medium">
      Registration details
    </h2>

    <table class="check-your-answers">
      <tbody>
        <tr>
          <th>
            Registration date
          </th>
          <td>
            21 April 2016
          </td>
          <td class="change-answer">
            &nbsp;
          </td>
        </tr>
        <tr>
          <th>
            Exemption FRA5
          </th>
          <td>
            Footbridge over a main river not more than 8 metres wide from bank to bank
          </td>
          <td class="change-answer">
            <a href="/version_2/exemptions/check_exemptions">
            Change <span class="visuallyhidden"> exemption FRA5</span>
          </a>
          </td>
        </tr>
        <tr>
          <th>
            Exemption FRA9
          </th>
          <td>
            Maintaining structures within the channel of a main river that are not raised defences
          </td>
          <td class="change-answer">
            <a href="/version_2/exemptions/check_exemptions">
            Change <span class="visuallyhidden"> exemption FRA9</span>
          </a>
          </td>
        </tr>
        <tr>
          <th>
            Grid reference
          </th>
          <td>
            ST 58132 72695
          </td>
          <td class="change-answer">
            <a href="/version_2/location/grid_reference">
            Change <span class="visuallyhidden"> grid reference</span>
          </a>
          </td>
        </tr>



        <tr>
          <th>
            Customer type
          </th>
          <td>
            Limited company
          </td>
          <td class="change-answer">
            <a href="/version_2/user_type/user_type">
            Change <span class="visuallyhidden">customer type</span>
          </a>
          </td>
        </tr>

        <tr>
          <th>
            Responsible for activity (‘operator’)
          </th>
          <td>
            Careful Contractor Ltd
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden"> who is responsible</span>
          </a>
          </td>
        </tr>

        <tr>
          <th>
            Their address
          </th>
          <td>
            Some address, Someshire
          </td>
          <td class="change-answer">
            <a href="#">
            Change <span class="visuallyhidden"> address</span>
          </a>
          </td>
        </tr>


        <tr>
          <th>
            Who we will contact
          </th>
          <td>
            Sarah Site Manager
          </td>
          <td class="change-answer">
            <a href="/version_2/contact/main_contact_name">
            Change <span class="visuallyhidden"> contact name</span>
          </a>
          </td>
        </tr>

        <tr>
          <th>
            Telephone
          </th>
          <td>
            03708 506506
          </td>
          <td class="change-answer">
            <a href="/version_2/contact/main_contact_telephone">
            Change <span class="visuallyhidden"> contact telephone</span>
          </a>
          </td>
        </tr>

        <tr>
          <th>
            Email
          </th>
          <td>
            sara@careful.com
          </td>
          <td class="change-answer">
            <a href="/version_2/contact/main_contact_email">
            Change <span class="visuallyhidden"> contact email</span>
          </a>
          </td>
        </tr>

      </tbody>
    </table>

    <br />

    <div class="form-group">
      <input type="submit" class="button" value="Continue" />
    </div>

  </form>

</main>

{% endblock %}
