{% extends "layout.html" %}

{% block page_title %}
  Changes to your Flood Defence Consent after 6 April 2016 - Detailed guidance - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Changes to your Flood Defence Consent after 6 April 2016</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">How the Environmental Permitting Regulations affect existing Flood Defence Consents and applications already submitted.</p>


  </div>
  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-quarter">

          <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
</header>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">
              <li>
                <a href="#activities-covered-by-environmental-permitting">Activities covered by environmental permitting</a>
              </li>
                  <li>
                    <a href="#if-your-activity-is-exempt">If your activity is exempt</a>
                  </li>
                      <li>
                        <a href="#if-your-activity-is-an-exclusion">If your activity is an exclusion</a>
                      </li>
                          <li>
                            <a href="#activities-not-covered-by-environmental-permitting">Activities not covered by environmental permitting</a>
                          </li>
                              <li>
                                <a href="#if-you-dont-follow-the-conditions-of-your-permit">If you don’t follow the conditions of your permit</a>
                              </li>
                                  <li>
                                    <a href="#ongoing-fdc-applications">Ongoing FDC applications</a>
                                  </li>

          </ol>
        </nav>
      </nav>

    </div>

    <div class="column-three-quarter">

      <!-- START DRAFT HTML ======================================== -->

      <p>On 6 April 2016 any activity with a Flood Defence Consent (FDC) came under environmental permitting rules.
Check which of the following categories your activity comes under:</p>
<ul class="list list-bullet">
<li>activities covered by environmental permitting</li>
<li>exemptions</li>
<li>exclusions </li>
<li>activities not covered by environmental permitting</li>
</ul>


<h2 class="heading-medium" id="activities-covered-by-environmental-permitting">Activities covered by environmental permitting</h2>
<p>Your FDC will automatically become an environmental permit if it’s for <a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">activities that need an environmental permit</a>.</p><p>
You must continue to carry out the activity within the conditions of your FDC.</p><p>
If you haven’t completed the work your FDC covers and want to change the details of the permit, you must apply to change the permit.</p>
<p>Subsistence charges will apply where your FDC becomes an environmental permit.</p>


<h2 class="heading-medium" id="if-your-activity-is-exempt">If your activity is exempt</h2>
<p>You don’t need to apply for an exemption - your FDC automatically becomes an exemption.
<a href="/version_4/guidance/exempt-flood-risk-activities-environmental-permitting-regulations">Read the exempt flood risk activities</a> to find out:</p>
<ul class="list list-bullet">
<li>if your activity is exempt</li>
<li>the conditions that apply to your work if it’s an exempt activity</li>
</ul>
<p>You can be prosecuted  if you don’t operate within the conditions of your exemption. </p>


<h2 class="heading-medium" id="if-your-activity-is-an-exclusion">If your activity is an exclusion</h2>
<p><a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits#check-if-what-you-are-doing-is-an-excluded-activity">Read the excluded flood risk activities</a> to find out:</p>
<ul class="list list-bullet">
<li>if your activity is excluded</li>
<li>the conditions you must carry out your work under if it’s an excluded activity</li>
</ul>
<p>You can be prosecuted  if you don’t operate within the conditions of your exclusion. </p>


<h2 class="heading-medium" id="activities-not-covered-by-environmental-permitting">Activities not covered by environmental permitting</h2>
<p>If your FDC isn’t one of the <a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">activities that need an environmental permit</a>, your FDC will lapse.
You can continue to do your activity and must comply with any other environmental legislation that may apply to your activity.[</p>


<h2 class="heading-medium" id="if-you-dont-follow-the-conditions-of-your-permit">If you don’t follow the conditions of your permit</h2>
<p><a href="https://www.gov.uk/guidance/how-youll-be-regulated-environmental-permits">Find out how the Environment Agency will regulate you</a> if you do activities not covered by your permit or you break the rules of your permit after 6 April 2016.</p>


<h2 class="heading-medium" id="ongoing-fdc-applications">Ongoing FDC applications</h2>
<p>If you applied for an FDC but didn’t receive it before 6 April 2016, the Environment Agency will treat it as an application for an environmental permit.</p><p>
The Environment Agency will return your application to you if your activity doesn’t need an environmental permit.</p>


      <!-- END DRAFT HTML   ======================================== -->

    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
