{% extends "layout.html" %}

{% block page_title %}
  Check if you need an environmental permit - Detailed guidance - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Check if you need an environmental permit</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">Find out if you need a permit for works that cause pollution, increase flood risk or affect drainage.</p>


  </div>
  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-quarter">

          <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
</header>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">
              <li>
                <a href="#what-you-need-a-permit-for">What you need a permit for</a>
              </li>
              <li>
                <a href="#who-to-apply-to">Who to apply to</a>
              </li>
              <li>
                <a href="#contact-the-environment-agency">Contact the Environment Agency</a>
              </li>

          </ol>
        </nav>
      </nav>

    </div>

    <div class="column-three-quarter">

      <!-- START DRAFT HTML ======================================== -->


<p>You may need an environmental permit for:</p>
<ul class="list list-bullet">
<li>installations</li>
<li>waste operations</li>
<li>water discharge or groundwater activities</li>
<li>work on or near a main river or sea defence</li>
</ul>
<p>You can be prosecuted if you operate  without getting the permit you need.
If you have a flood defence consent (FDC) or have applied for one, <a href="https://www.gov.uk/guidance/changes-to-your-flood-defence-consent-after-6-april-2016">check how you could be affected by law changes on 6 April 2016</a>.</p>
<h2 class="heading-medium" id="what-you-need-a-permit-for">What you need a permit for</h2>
<p>You need an environmental permit to operate or carry out any of the following:</p>
<ul class="list list-bullet">
<li>an ‘installation’ – a business that produces potentially harmful substances </li>
<li>a waste facility – where you recycle, store, treat or dispose of waste</li>
<li>a mining waste facility – which manages waste produced from mines or quarries</li>
<li>a small waste incineration plant – where you burn waste</li>
<li>mobile plant – machinery you can wheel or drive between locations </li>
<li>activity using solvents – releasing organic solvents directly or indirectly into the air</li>
<li>a stand-alone water discharge activity – releasing pollution to rivers, streams or the sea</li>
<li>a stand-alone groundwater activity – releasing polluting liquids directly or indirectly to water underground</li>
<li>activity that uses radioactive substances</li>
</ul>
<p>You may also need an environmental permit for flood risk activities if you do work:</p>
<ul class="list list-bullet">
<li>in, under, over or near a main river (including where the river is in a culvert)</li>
<li>on or near a flood defence on a main river</li>
<li>in the floodplain of a main river</li>
<li>on or near a sea defence</li>
</ul>
<h2 class="heading-medium" id="who-to-apply-to">Who to apply to</h2>
<p>Depending on your activity and the pollution risk, you need to apply to the Environment Agency or your local council.</p><p>
Check the table to see who you need to apply to. If it’s the Environment Agency, there’s guidance for that activity, including whether there are:</p>
<ul class="list list-bullet">
<li>exclusions (when you won’t need a permit)</li>
<li>exemptions (when you won’t need a permit but you may need to register)</li>
</ul>


<style>
table td,
table th{
    vertical-align: top;
    line-height: 1.3em;
    padding: 0.7em 0.5em 0.7em 1em;
    font-size:19px;
    background: #fafafa;
    border: dotted 1px #bbb;
  }
</style>

      <table style="border: solid 1px #bbb;">
        <thead>
          <tr>
            <th>What you do</th>
            <th>Who to apply to</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Installation</td>
            <td>
      <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/435475/LIT_6529.pdf">Check the guidance on the regulations to find out</a>. If your activity is listed as ‘Part A1’, <a href="https://www.gov.uk/guidance/a1-installations-environmental-permits">apply to the Environment Agency</a>. If it’s ‘Part A2’ or ‘Part B’, apply to <a href="https://www.gov.uk/local-authority-environmental-permit">your local council</a>
      </td>
          </tr>
          <tr>
            <td>Waste or mining waste operation</td>
            <td>Environment Agency – <a href="https://www.gov.uk/guidance/waste-environmental-permits">read the guidance on how to apply</a>
      </td>
          </tr>
          <tr>
            <td>Small waste incineration plant</td>
            <td><a href="https://www.gov.uk/government/publications/environmental-permitting-guidance-the-waste-incineration-directive">Check the guidance to find out</a></td>
          </tr>
          <tr>
            <td>Mobile plant</td>
            <td>Environment Agency if the plant deals with waste – <a href="https://www.gov.uk/guidance/waste-environmental-permits">read the guidance on how to apply</a>, otherwise apply to <a href="https://www.gov.uk/local-authority-environmental-permit">your local council</a>
      </td>
          </tr>
          <tr>
            <td>Solvent emissions activity</td>
            <td><a href="https://www.gov.uk/local-authority-environmental-permit">Your local council</a></td>
          </tr>
          <tr>
            <td>Stand-alone water discharge or groundwater activity</td>
            <td>Environment Agency – <a href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">read the guidance on how to apply</a>
      </td>
          </tr>
          <tr>
            <td>Flood risk activities on or near a main river or sea defence</td>
            <td>Environment Agency – <a href="/version_4/guidance/flood-risk-activities-environmental-permits">read the guidance on how to apply</a>
      </td>
          </tr>
          <tr>
            <td>Radioactive substances</td>
            <td>Environment Agency – read the guidance on how to apply for <a href="https://www.gov.uk/government/collections/radioactive-substances-regulation-for-nuclear-sites">nuclear sites</a> or <a href="https://www.gov.uk/government/collections/radioactive-substances-regulation-for-non-nuclear-sites">non-nuclear sites</a>
      </td>
          </tr>
        </tbody>
      </table>

      <p>&nbsp;</p>

      <p>If you’re not sure who to apply to, contact the Environment Agency. If you have a query about a flood risk activity, you will need to provide the location and postcode (or National Grid reference) of the site where you will carry out the work.</p>

      <h2 class="heading-medium" id="contact-the-environment-agency">Contact the Environment Agency</h2>

      <div class="contact postal-address" id="contact_144">
        <div class="content">
          <h3>General enquiries</h3>

          <div class="vcard contact-inner">
              <p class="adr">
      <span class="fn">National Customer Contact Centre</span><br>
      <span class="street-address">PO Box 544</span><br>
      <span class="locality">Rotherham</span><br>
      <span class="postal-code">S60 1BY</span>
      </p>


              <div class="email-url-number">
                  <p class="email">
                    <span class="type">Email</span>
                    <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
                  </p>
                  <p class="tel">
                    <span class="type">Telephone</span>
                    03708 506 506
                  </p>
                  <p class="tel">
                    <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
                    +44 (0) 114 282 5312
                  </p>
                  <p class="tel">
                    <span class="type">Minicom (for the hard of hearing)</span>
                    03702 422 549
                  </p>
              </div>

              <p class="comments">Monday to Friday, 8am to 6pm</p>



      <!-- END DRAFT HTML   ======================================== -->

    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
