{% extends "layout.html" %} {% block page_title %} Check if you need permission to do work on a river, flood defence or sea defence{% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Check if you need permission to do work on a river, flood defence or sea defence</h1>
</header>

<p>You may need permission to do work on or near a river, flood defence or sea defence. </p>

<div class="panel panel-border-wide">
  <p class="text">These rules apply to England only. There are different rules for <a rel="external" href="https://naturalresources.wales/apply-for-a-permit/apply-for-flood-defence-consent/applying-for-a-flood-defence-consent/?lang=en">Wales</a>, <a rel="external" href="https://www.sepa.org.uk/regulations/water/engineering/">Scotland</a> and <a rel="external" href="https://www.infrastructure-ni.gov.uk/articles/rivers-maintenance-and-flood-management#toc-6">Northern Ireland</a>.</p>
</div>

<p>There are different ways of getting permission, depending on whether you’re working on: </p>

<ul class="list list-bullet">
 <li>a sea defence or main river (including its flood plains and flood defences) - check which are <a rel="external" href="http://maps.environment-agency.gov.uk/wiyby/wiybyController?x=357683.0&amp;y=355134.0&amp;scale=1&amp;layerGroups=default&amp;ep=map&amp;textonly=off&amp;lang=_e&amp;topic=floodmap">main rivers</a>  </li>
 <li>other watercourses  </li>
</ul>

<div class="notice"><i class="icon icon-important"><span class="visuallyhidden">Warning</span></i><p>
  <strong class="bold-small text">You can be prosecuted and may be fined or go to prison if you don’t get permission when you need it.</strong>
</p>
</div>

<h2 class="bold-medium" style="margin-top:2em;">Main rivers and sea defences</h2>

<p><a href="/version_4/guidance/flood-risk-activities-environmental-permits ">Check if you need a permit</a> - you might just need to tell the Environment Agency about your work. </p>

<p><a href="/version_4/guidance/changes-to-flood-defence-consent">If you already have a flood defence consent</a> you don’t need to apply for a new permit. </p>

<h2 class="bold-medium"style="margin-top:2em;">Other watercourses</h2>

<p>For work on or near all other watercourses you must apply for Ordinary Watercourse Consent. </p>

<p>Apply by contacting either: </p>

<ul class="list list-bullet">
 <li>the <a rel="external" href="http://www.ada.org.uk/idb_members_map.html">internal drainage board (IDB)</a> in your area</li>
 <li>your lead local flood authority through <a href="/find-your-local-council">your local council</a> or the Environment Agency</li>
</ul>


<h3 class="heading-small" style="margin-bottom:0">Environment Agency</h3>
  <p>
<a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
Telephone: 03708 506 506<br>
Minicom: 03702 422 549 <br>
Monday to Friday, 8am to 6pm<br>
<a href="/call-charges">Find out about call charges</a></p>






    </div>
  </div>
</main>

{% endblock %}
