{% extends "layout.html" %}

{% block page_title %}
  Exempt flood risk activities: environmental permitting regulations - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">


    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Flood risk activities: environmental permits</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">Find out which activities don’t need an environmental permit (formerly flood risk consent), and the conditions you must meet in order to operate without one.</p>



  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-one-third">

      <h2 class="bold-medium">Document</h2>

    </div>

    <div class="column-two-thirds">

      <!-- START DRAFT HTML ======================================== -->


      <p><a target="_blank" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/513793/LIT_10444.pdf">
<img style="outline: 5px solid rgba(11,12,12,0.1);float:left;margin-right:20px;" alt=""  src="/public/images/guidance/thumbnail_LIT_10444.pdf.png">
        <span class="font-medium">EPR exempt flood risk activities: descriptions and conditions</span></a><br/>
<span class="font-xsmall">Ref: LIT 10444<br/>
PDF, 960KB, 40 pages<br/>
This file may not be suitable for users of assistive technology. <a href="#">Request an accessible format</a>.</span></p>

      <!-- END DRAFT HTML   ======================================== -->

    </div>

  </div><!-- end grid row -->


  <div class="grid-row">


    <div class="column-one-third">

      <h2 class="bold-medium">Detail</h2>

    </div>

    <div class="column-two-thirds">

      <!-- START DRAFT HTML ======================================== -->


      <p>Works that are carried out in or near a main river or sea defence are regulated under the environmental permitting regulations (EPR) as ‘flood risk activities’.</p>
      <p>But you don’t need an environmental permit if you are doing one of the exempt activities listed in the EPR exempt flood risk activities PDF. </p>
      <p>Check the PDF to find out if your activity is exempt and read the conditions you’d need to meet in order to operate without a permit. </p>
      <p>To operate without a permit you must:</p>
      <ul class="list list-bullet">
      <li><a href="https://www.gov.uk/guidance/register-your-flood-risk-exemption-environmental-permits">register the exempt activity with the Environment Agency</a></li>
      <li>meet the description and conditions required for that exemption</li>
      </ul>
      <p>If you want to apply for exemptions FRA21, FRA22, FRA23 or FRA24 you will also need to meet the <a href="#">dredging requirements</a>.</p>

      <!-- END DRAFT HTML   ======================================== -->

    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
