{% extends "layout.html" %}

{% block page_title %}
  Flood risk activities: environmental permits - Detailed guidance - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Flood risk activities: environmental permits</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">The forms you need and how to apply for environmental permits (formerly flood defence consents), and when you don’t need a permit.</p>


  </div>
  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-quarter">

          <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
</header>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">
              <li>
                <a href="#how-you-can-operate-lawfully">How you can operate lawfully</a>
              </li>
              <li>
                <a href="#when-you-dont-need-a-permit">When you don’t need a permit</a>
              </li>
              <li>
                <a href="#when-you-can-get-an-exclusion">When you can get an exclusion</a>
              </li>
              <li>
                <a href="#when-you-can-get-an-exemption">When you can get an exemption</a>
              </li>
              <li>
                <a href="#bespoke-permits">Bespoke permits</a>
              </li>
              <li>
                <a href="#how-your-data-can-be-used">How your data can be used</a>
              </li>
              <li>
                <a href="#after-you-apply">After you apply</a>
              </li>
              <li>
                <a href="#when-the-environment-agency-may-change-your-permit">When the Environment Agency may change your permit</a>
              </li>
              <li>
                <a href="#complying-with-your-permit">Complying with your permit</a>
              </li>
              <li>
                <a href="#if-your-application-is-rejected">If your application is rejected</a>
              </li>


          </ol>
        </nav>
      </nav>

    </div>

    <div class="column-three-quarter">

      <!-- START DRAFT HTML ======================================== -->

      <p>You may need to apply for an environmental permit if you want to do work:</p>
      <ul class="list list-bullet">
      <li>in, under, over or near a main river or culvert</li>
      <li>on or near a flood defence on a main river</li>
      <li>in the floodplain of a main river</li>
      <li>on or near a sea defence</li>
      </ul>
      <p>A ‘main river’ is a major watercourse. Smaller rivers, streams, ditches etc are ‘ordinary watercourses’. You can find out whether your work is near a main river using the <a href="http://maps.environment-agency.gov.uk/wiyby/wiybyController?topic=floodmap&amp;layerGroups=default&amp;lang=_e&amp;ep=map&amp;scale=7&amp;x=531500&amp;y=181500">Flood Map for Planning</a>. Main rivers are marked as dark blue lines.</p>
      <p>
      You can be prosecuted if you operate without getting the permit you need.
    </p>
      <p>
      If you have a flood defence consent (FDC) or have applied for one, <a href="/version_4/guidance/changes-to-flood-defence-consent">check how you could be affected by law changes made on 6 April 2016</a>.</p>
      <p><a href="https://www.gov.uk/guidance/river-maintenance-and-drainage-charges-farmers-and-landowners">Check when you’ll need permission for maintenance and other works</a> if you own property next to a watercourse.</p>


      <h2 class="heading-medium" id="how-you-can-operate-lawfully">How you can operate lawfully</h2>
      <p>There are <a href="#when-you-dont-need-a-permit">types of work that don’t need a permit</a>.
      For other types of work, there are 4 ways to get your work authorised:</p>
      <ul class="list list-bullet">
      <li><a href="#when-you-can-get-an-exclusion">get an ‘exclusion’</a> – the Environment Agency doesn’t need a permit for that activity</li>
      <li><a href="#when-you-can-get-an-exemption">get an ‘exemption’</a> – you don’t need a permit but you must still register your exemption with the Environment Agency</li>
      <li><a href="#standard-rules-permits">get a ‘standard rules permit’</a> – a set of fixed rules for common activities</li>
      <li><a href="#bespoke-permits">get a ‘bespoke permit’</a> – tailored to your activities</li>
      </ul>
      <p>If you’re not sure if you need a permit, contact the Environment Agency at <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>. You’ll get a response within 3 working days.</p>


      <h2 class="heading-medium" id="when-you-dont-need-a-permit">When you don’t need a permit</h2>
      <p>You don’t need a permit for work on an ordinary watercourse and for some types of farming work. </p>
      <h3 class="heading-small" id="work-on-an-ordinary-watercourse">Work on an ordinary watercourse</h3>
      <p>You don’t need a permit but you may need to apply to <a href="https://www.gov.uk/find-your-local-council">your local council</a> or <a href="http://www.ada.org.uk/idb_members_map.html">internal drainage board</a> for a land drainage consent.</p>
      <h3 class="heading-small" id="farming-work-on-or-near-a-main-river">Farming work on or near a main river</h3>
      <p>You don’t need a permit to build hay stacks, straw stacks or manure clamps if they’re:</p>
      <ul class="list list-bullet">
      <li>more than 8m from the banks or any flood defence structure or culvert on a non-tidal main river</li>
      <li>more than 16m from the banks or any flood defence structure or culvert on a tidal main river</li>
      <li>more than 16m from any sea defence structure</li>
      </ul>
      <p>You may also be restricted by other laws and bylaws. If in doubt, check with the Environment Agency.</p>


      <h2 class="heading-medium" id="when-you-can-get-an-exclusion">When you can get an exclusion</h2>
      <p>You don't need a permit if your activity is one of the following exclusions. But you must operate within the conditions of the exclusion.</p>
      <h3 class="heading-small" id="in-an-emergency">In an emergency</h3>
      <p>When there is a risk of serious flooding, or damage to drainage or the environment, you can take preventative measures without consent. But you must write to the Environment Agency as soon as possible afterwards, explaining what happened and what you did.</p><p>
      You’ll need a permit if you plan to use a temporary defence measure (like a freestanding barrier) whenever there is an emergency, unless it is already exempt or is attached to a building (like an airbrick cover).
      </p><p>Find out <a href="https://www.gov.uk/government/publications/flooding-what-to-do-before-during-and-after-a-flood">what to do in a flood</a>.</p>
      <h3 class="heading-small" id="licensable-marine-activity-in-england">Licensable marine activity in England</h3>
      <p>You must inform the Environment Agency if you have applied to the Marine Management Organisation for a marine licence. If the Environment Agency decides you don’t need an environmental permit, they will tell you in writing.</p>
      <h3 class="heading-small" id="using-ladders-and-scaffold-towers">Using ladders and scaffold towers</h3>
      <p>You can use these if they are taken down at the end of each day and stored away from the river. Each day, before you put them up, you must check that their use will not increase flood risk.</p>
      <h3 class="heading-small" id="services-crossing-a-river-within-an-existing-structure">Services crossing a river within an existing structure</h3>
      <p>This could be something like laying cables in a pavement over a bridge. The crossing must be within the profile of the existing structure. You must not work from the river or the bank and you must store any equipment you use away from the river.</p><p>
      If the existing structure has been identified for removal under a river basin management plan, you must apply for an environmental permit before you can do any work.</p>
      <h3 class="heading-small" id="flood-protection-devices-attached-to-buildings">Flood protection devices attached to buildings</h3>
      <p>You can work on door boards, airbrick covers and other attached devices without a permit.</p>
      <h3 class="heading-small" id="highways-rights-of-way-crossing-bridges-and-culverts">Highways, rights of way, crossing bridges and culverts</h3>
      <p>You don’t need a permit as long as your work doesn’t affect the riverbed, banks, water level or flow in the river (including flood flow).</p><p>
      You must not work on the river or from the bank and any equipment you use must be stored away from the river.</p>
      <h3 class="heading-small" id="post-and-rail-or-post-and-wire-fencing-in-a-floodplain">Post and rail or post and wire fencing in a floodplain</h3>
      <p>You can put fencing on a floodplain but not on the bed or banks of a main river.
      If you use wire, it must be either wire strands or at least 100mm spaced mesh.</p>
      <h3 class="heading-small" id="temporary-use-of-small-fish-traps">Temporary use of small fish traps</h3>
      <p>Fish traps must be no bigger than 2m x 1m x 0.75m. The fish trap or combination of traps together must take up less than a third of the river’s channel width. You must place them more than 50m upstream or downstream of any obstruction. You must not use them when the river is in high flow.</p>
      <h3 class="heading-small" id="noticeboards-more-than-2m-from-the-top-of-a-river-bank">Noticeboards more than 2m from the top of a river bank</h3>
      <p>You must attach the noticeboard to an existing fence or freestanding permanent post. It must be more than 2m from any culvert, remote defence or flood defence structure, or sea defence.</p>
      <h3 class="heading-small" id="clearing-out-a-purpose-built-sediment-trap">Clearing out a purpose-built sediment trap</h3>
      <p>You must not release sand or silt downstream when cleaning out a trap. If you want to deposit the silt on the floodplain, you must spread it:</p>
      <ul class="list list-bullet">
      <li>
      to a depth of no more than 100mm</li>
      <li>
      no closer than 8m from the riverbank</li>
      <p>You should check if you need a waste permit or exemption.</p>
      <h3 class="heading-small" id="site-investigation-boreholes-and-trial-pits">Site investigation boreholes and trial pits</h3>
      <p>You may do this work if it’s:</p>
      <ul class="list list-bullet">
      <li>within the floodplain of a main river</li>
      <li>more than 5m from a culvert, remote defence or flood defence structure, or sea defence</li>
      <li>more than 8m from the riverbank (16m if it’s a tidal river)</li>
      </ul>
      <p>You must complete the work and refill within 48 hours.</p>


      <h2 class="heading-medium" id="when-you-can-get-an-exemption">When you can get an exemption</h2>
      <p>You don’t need a permit if your activity meets the description and conditions of one of the <a href="/version_4/guidance/exempt-flood-risk-activities-environmental-permitting-regulations">exempt flood risk activities</a>.
      You must <a href="/version_4/guidance/guide_register_exemption">register your exemption with the Environment Agency</a> before you can carry out any work.
    </p><p>You won’t be able to register an exemption at locations that are:</p>
      <ul class="list list-bullet">
      <li>environmentally sensitive like a European protected site or Site of Special Scientific Interest (SSSI)</li>
      <li>too close to a flood defence structure operated by the Environment Agency</li>
      </ul>
      <p>Contact the Environment Agency to find out if your work will be close to environmentally sensitive locations or flood defense structures. </p>
      <h2 class="heading-medium" id="standard-rules-permits">Standard rules permits</h2>
      <p>You can apply for a permit to operate if your proposed work fits the description and conditions of one of the <a href="https://www.gov.uk/government/collections/standard-rules-environmental-permitting#flood-risk-activities">standard rules permits</a>.
      If you want to change your activity and will no longer meet the criteria of the standard rules, you’ll have to apply to make it a <a href="#bespoke-permits">bespoke permit</a>.</p><p>
      If there’s a change in your local environment after your permit has been issued, the Environment Agency may ask you to change your permit.</p>
      <h3 class="heading-small" id="before-you-apply-for-a-standard-rules-permit">Before you apply for a standard rules permit</h3>
      <p>You’ll need to:</p>
      <ul class="list list-bullet">
      <li>read the rules to make sure you can follow them - if in doubt, ask the Environment Agency for advice</li>
      <li>read the instructions in the application form and guidance</li>
      <li>read the generic risk assessment for your activity - you can find this with the standard rules</li>
      <li><a href="https://www.gov.uk/guidance/develop-a-management-system-flood-risk-activity-for-environmental-permits">write a management system</a> that describes your techniques and what you'll do to limit risk</li>
      </ul>
      <p>You don’t need to send your management system when you apply for a standard rules permit but the Environment Agency may ask to inspect it at any time.</p>
      <h3 class="heading-small" id="apply-for-a-standard-rules-permit">Apply for a standard rules permit</h3>
      <p>Download and fill in the following forms:</p>
      <ul class="list list-bullet">
      <li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-b11-standard-rules-permit-for-flood-risk-activities">standard rules permit application form</a></li>
      <li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-a-about-you">about you</a></li>
      <li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-f3-charging-for-flood-risk-activities-and-declarations">charging for flood risk activities and declarations</a></li>
      </ul>
      <p>You must also include your fee - <a href="https://www.gov.uk/government/publications/environmental-permitting-ep-charges-scheme-april-2014-to-march-2015">find out how much you need to pay</a>.</p><p>
      Send your completed forms and fee to your nearest Environment Agency office. Call 03708 506 506 to find your nearest office (charges apply). </p>


      <h2 class="heading-medium" id="bespoke-permits">Bespoke permits</h2>
      <p>You must get a bespoke permit to operate if your activities don’t fit the description or conditions of the standard rules, exemptions or exclusions.</p>
      <h3 class="heading-small" id="before-you-apply-for-a-bespoke-permit">Before you apply for a bespoke permit</h3>
      <p>You’ll need to:</p>
      <ul class="list list-bullet">
      <li><a href="/version_4/guidance/develop-management-system">write a management system</a> describing your techniques and what you'll do to limit flood risk</li>
      <li><a href="https://www.gov.uk/guidance/flood-risk-activity-risk-assessment-for-your-environmental-permits">complete a risk assessment</a></li>
      <li>prepare plans and documents describing your activities and supporting information like site surveys and methods of work</li>
      </ul>
      <h3 class="heading-small" id="apply-for-a-bespoke-permit">Apply for a bespoke permit</h3>
      <p>Download and fill in the following forms:</p>

      <ul class="list list-bullet">
      <li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-b10-flood-risk-activities">bespoke permit application form</a></li>
      <li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-a-about-you">about you</a></li>
      <li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-f3-charging-for-flood-risk-activities-and-declarations">charging and declarations</a></<li>
      </ul>
      <p>When you send your application you’ll need to include:</p>
      <ul class="list list-bullet">
      <li>the forms</li>
      <li>the summary of your management system, including your method of work</li>
      <li>your risk assessment</li>
      <li>any other supporting documents mentioned in the accompanying form guidance</li>
      <li>your fee - <a href="https://www.gov.uk/government/publications/environmental-permitting-ep-charges-scheme-april-2014-to-march-2015">find out how much you need to pay</a></li>
      </ul>
      <p>Email or post your completed forms to the Environment Agency. To find your nearest office call 03708 506 506 (charges apply). </p>


      <h2 class="heading-medium" id="how-your-data-can-be-used">How your data can be used</h2>
      <p>The Environment Agency may put the information in your application on a public register if it doesn’t harm national security or commercial interests.
      If you want commercially sensitive information kept private, you must give your reasons in a letter with your application.</p><p>
      The Environment Agency will contact you within 20 days if they agree to your request and will let you know if they need more time to decide.</p><p>
      If they don’t agree to your request they’ll tell you how to appeal or withdraw your application.</p><p>
      Information about your application and the Environment Agency’s decision will be available on the public register. The Environment Agency holds public register information in its local offices. Anyone can request to see the public register. Contact the Environment Agency to find your nearest office.</p>


      <h2 class="heading-medium" id="after-you-apply">After you apply</h2>
      <p>When the Environment Agency starts assessing your application, they’ll tell you your application is ‘duly made’. This means they’re starting the assessment process. They may still request more information.</p>
      <h3 class="heading-small" id="consultations-on-your-application">Consultations on your application</h3>
      <p>If your proposed activities have potentially significant environmental impacts, the Environment Agency may publish a notice of your application for public comment.</p><p>
      In cases of high public interest, they may take further public and specialist consultation, issue more publicity and take longer to give you a decision.
      <a href="https://www.gov.uk/government/publications/environmental-permitting-public-participation-statement">Read the Environment Agency’s public participation statement</a> to find out why and when the Environment Agency will consult, how they will consult and who with, and what you can do if you have concerns.</p>
      <h3 class="heading-small" id="decisions-about-your-application">Decisions about your application</h3>
      <p>The Environment Agency will tell you if it approves your application.</p>
      <p>
      You’ll normally get a decision within 2 months if your application relates only to flood risk activities. If the Environment Agency needs further information it will take longer.
    </p>
    <p>
      Normally it will take 4 months if the application is part of an application for combined activities (such as a flood risk and water discharge activity) or if there’s a public consultation.</p>


      <h2 class="heading-medium" id="when-the-environment-agency-may-change-your-permit">When the Environment Agency may change your permit</h2>
      <p>The Environment Agency won’t normally change your flood risk activity permit within 3 years of you receiving it.</p><p>
      They may change your permit if:</p>
      <ul class="list list-bullet">
      <li>you apply to change your permit</li>
      <li>you don’t meet conditions or environmental standards</li>
      <li>there are changes to legislation</li>
      <li>there are changes to the flood, drainage and environmental risks near your activities</li>
      </ul>


      <h2 class="heading-medium" id="complying-with-your-permit">Complying with your permit</h2>
      <p>After you’ve got your permit you’ll need to follow its conditions. Find out <a href="https://www.gov.uk/guidance/how-youll-be-regulated-environmental-permits">how the Environment Agency will regulate you</a>.</p>


      <h2 class="heading-medium" id="if-your-application-is-rejected">If your application is rejected</h2>
      <p>The Environment Agency may reject your application if:</p>
      <ul class="list list-bullet">
      <li>you haven’t used the right forms</li>
      <li>you’ve forgotten to include the fee or sent the wrong fee</li>
      <li>you haven’t provided all the necessary information</li>
      </ul>
      <p>You can appeal if the Environment Agency refuses your application or you think the conditions are unreasonable. Their decision letter will explain how to appeal.</p>


      <!-- END DRAFT HTML   ======================================== -->

    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
