{% extends "layout.html" %}

{% block page_title %}
  Flood risk activities: environmental permits - Detailed guidance - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Flood risk activities: environmental permits</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">The forms you need and how to apply for environmental permits (formerly flood defence consents), and when you don’t need a permit.</p>


  </div>
  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-quarter">

          <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
</header>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">

          </ol>
        </nav>
      </nav>

    </div>

    <div class="column-three-quarter" id="main_text">

<!-- ########################################################################## -->


<p>You must get permission to do work on or near a main river if your activity is regulated under environmental permits (formerly flood defense consents). You can be prosecuted if you operate without getting the permit you need.</p>

<p>If you have a flood defence consent (FDC) or have applied for one, <a href="https://www.gov.uk/guidance/changes-to-your-flood-defence-consent-after-6-april-2016">check how you could be affected by law changes made on 6 April 2016</a>.</p>

<p><a href="https://www.gov.uk/guidance/river-maintenance-and-drainage-charges-farmers-and-landowners">Check when you’ll need permission for maintenance and other works</a> if you own property next to a watercourse.</p>

<h2 class="heading-medium">Check if the activity is on a main river</h2>

<p>Work on main rivers is regulated. Check the location of main rivers on the <a href="http://maps.environment-agency.gov.uk/wiyby/wiybyController?topic=floodmap&amp;layerGroups=default&amp;lang=_e&amp;ep=map&amp;scale=7&amp;x=531500&amp;y=181500">Flood Map for Planning</a>.</p>

<h3 class="heading-small">Not on a main river</h3>

<p>You don’t need flood risk permits or permission to work on ‘ordinary watercourses’ such as small rivers, streams, ditches. But you should contact <a href="https://www.gov.uk/find-your-local-council">your local council</a> or <a href="http://www.ada.org.uk/idb_members_map.html">internal drainage board</a> to check of you need land drainage consent.</p>

<h2 class="heading-medium">Check if your activity is regulated</h2>

<p>You must apply for permission to do any of the following regulated activities:</p>

<ul class="list list-bullet">
<li>erecting any temporary or permanent structure in, over or under a main river, such as a culvert, outfall, weir, dam, pipe crossing, erosion protection, scaffolding or bridge</li>
<li>altering, repairing or maintaining any temporary or permanent structure in, over or under a main river, where the work could affect the flow of water in the river or affect drainage work</li>
<li>building or altering any structure designed to contain or divert flood waters from a main river</li>
<li>dredging or removing any material from a main river, including when you are intending to improve flow in the river or use the materials removed</li>
<li>diverting or impounding the flow of water or changing the level of water in a main river</li>
<li>activities carried out on the floodplain of a main river, more than 8m from the river bank (or 16m if it’s a tidal main river), if you don’t have planning permission</li>
<li>quarrying or excavation within 16m of any main river, flood defence (including a remote defence) or culvert</li>
</ul>

<p>Your activity is regulated and you must apply for permission if the work could affect flood risk, land drainage or access to the river and it’s: </p>

<ul class="list list-bullet">
<li>within 8m of the bank of a main river, or 16m if it is a tidal main river</li>
<li>within 8m of any flood defence structure or culvert on a main river, or 16m on a tidal river, or where it is a sea defence structure</li>
</ul>

<p>You don’t need a permit to build hay stacks, straw stacks or manure clamps.</p>

<p>If you’re not sure if your work is regulated, contact the Environment Agency.</p>

<h2 class="heading-medium">If your activity is regulated</h2>

<p>There are 4 ways to get permission to do your work:</p>

<ul class="list list-bullet">
<li><a href="#fra5">get an ‘exclusion’</a> – you don’t need to apply for any permits</li>
<li><a href="#fra6">get an ‘exemption’</a> – you don’t need a permit but you must still register your exemption with the Environment Agency</li>
<li><a href="#fra7">get a ‘standard rules permit’</a> – a set of fixed rules for common activities</li>
<li><a href="#fra8">get a ‘bespoke permit’</a> – permits that are tailored to your activities</li>
</ul>

<p>If you’re not sure if you need a permit, send details of your project to the Environment Agency at enquiries@environment-agency.gov.uk. You’ll get a response within 3 working days.</p>

<h2 class="heading-medium" id="exclusions">Exclusions</h2>

<p>You don't need a permit if you plan to do one of the <a href="/version_4/guidance/exclusion_list">excluded activities</a>. </p>

<p>But you must operate within the conditions of the exclusion.</p>

<p>The excluded activities are:</p>

<ul class="list list-bullet">
<li>work in an emergency</li>
<li>licensable marine activity in England</li>
<li>the use of ladders and scaffold towers</li>
<li>services crossing a river within an existing structure</li>
<li>flood protection devices attached to buildings</li>
<li>highways, rights of way, crossing bridges and culverts</li>
<li>post and rail or post and wire fencing in a floodplain</li>
<li>temporary use of small fish traps</li>
<li>noticeboards more than 2m from the top of a river bank</li>
<li>clearing out a purpose-built sediment trap</li>
<li>site investigation boreholes and trial pits</li>
</ul>

<h2 class="heading-medium">Exemptions</h2>

<p>You don’t need a permit if your activity meets the description and conditions of one of the <a href="/version_4/guidance/exemption_list">exempt flood risk activities</a>. </p>

<p>You must <a href="https://frae-qa.envage.co.uk/fre/enrollments/new">register your exemption with the Environment Agency</a> before you can carry out any work. </p>

<p>It’s free to register an exemption.</p>

<p>To complete your registration you’ll need:</p>

<ul class="list list-bullet">
<li>the <a href="http://river-permissions2.herokuapp.com/version_4/guidance/exemption_list">description for the exemption you want to register</a></li>
<li>name and address of the individual, business or organisation that will be carrying out the activity</li>
<li>registration number and registered address details if you’re registering the activity for a limited company or limited liability partnership</li>
<li>name and address of the person who will be sent the registration confirmation</li>
<li>a <a href="https://www.ordnancesurvey.co.uk/osmaps/" target="_blank" rel="external">12-digit National Grid reference</a> for the location of your work</li>
</ul>

<h2 class="heading-medium">Standard rules permits</h2>

<p>You can apply for a permit to operate if your proposed work fits the description and conditions of one of the <a href="https://www.gov.uk/government/collections/standard-rules-environmental-permitting#flood-risk-activities">standard rules permits</a>.</p>

<p>If you want to change your activity and will no longer meet the criteria of the standard rules, you’ll have to apply to make it a <a href="#bespoke-permits">bespoke permit</a>.</p>

<p>If there’s a change in your local environment after your permit has been issued, the Environment Agency may ask you to change your permit.</p>

<h3 class="heading-small">Before you apply for a standard rules permit</h3>

<p>You’ll need to:</p>

<ul class="list list-bullet">
<li>read the rules to make sure you can follow them - if in doubt, ask the Environment Agency for advice</li>
<li>read the instructions in the application form and guidance</li>
<li>read the generic risk assessment for your activity - you can find this with the standard rules</li>
<li><a href="/version_4/guidance/develop-management-system.html">write a management system</a> that describes your techniques and what you'll do to limit risk</li>
</ul>

<p>You don’t need to send your management system when you apply for a standard rules permit but the Environment Agency may ask to inspect it at any time.</p>

<h3 class="heading-small">Apply for a standard rules permit</h3>

<p>Download and fill in the following forms:</p>

<ul class="list list-bullet">
<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-b11-standard-rules-permit-for-flood-risk-activities">standard rules permit application form</a></li>
<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-a-about-you">about you</a></li>
<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-f3-charging-for-flood-risk-activities-and-declarations">charging for flood risk activities and declarations</a></li>
</ul>

<p>You must also include your fee - <a href="https://www.gov.uk/government/publications/environmental-permitting-ep-charges-scheme-april-2014-to-march-2015">find out how much you need to pay</a>.</p>

<p>Send your completed forms and fee to your nearest Environment Agency office. Call 03708 506 506 to find your nearest office (charges apply).</p>

<h2 class="heading-medium">Bespoke permits</h2>

<p>You must get a bespoke permit to operate if your activities don’t fit the description or conditions of the standard rules, exemptions or exclusions.</p>

<h3 class="heading-small">Before you apply for a bespoke permit</h3>

<p>You’ll need to:</p>

<ul class="list list-bullet">
<li><a href="/version_4/guidance/develop-management-system.html">write a management system</a> describing your techniques and what you'll do to limit flood risk</li>
<li><a href="https://www.gov.uk/guidance/flood-risk-activity-risk-assessment-for-your-environmental-permits">complete a risk assessment</a></li>
<li>prepare plans and documents describing your activities and supporting information like site surveys and methods of work</li>
</ul>

<h3 class="heading-small">Apply for a bespoke permit</h3>

<p>Download and fill in the following forms:</p>

<ul class="list list-bullet">
<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-b10-flood-risk-activities">bespoke permit application form</a></li>
<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-a-about-you">about you</a></li>
<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-f3-charging-for-flood-risk-activities-and-declarations">charging and declarations</a></li>
</ul>

<p>When you send your application you’ll need to include:</p>

<ul class="list list-bullet">
<li>the forms</li>
<li>the summary of your management system, including your method of work</li>
<li>your risk assessment</li>
<li>any other supporting documents mentioned in the accompanying form guidance</li>
<li>your fee - <a href="https://www.gov.uk/government/publications/environmental-permitting-ep-charges-scheme-april-2014-to-march-2015">find out how much you need to pay</a></li>
</ul>

<p>Email or post your completed forms to the Environment Agency. To find your nearest office call 03708 506 506 (charges apply). </p>

<h2 class="heading-medium">How your data can be used</h2>

<p>The Environment Agency may put the information in your application on a public register if it doesn’t harm national security or commercial interests.
If you want commercially sensitive information kept private, you must give your reasons in a letter with your application.</p>

<p>The Environment Agency will contact you within 20 days if they agree to your request and will let you know if they need more time to decide.
If they don’t agree to your request they’ll tell you how to appeal or withdraw your application.</p>

<p>Information about your application and the Environment Agency’s decision will be available on the public register. The Environment Agency holds public register information in its local offices. Anyone can request to see the public register. Contact the Environment Agency to find your nearest office.</p>

<h2 class="heading-medium">After you apply</h2>

<p>When the Environment Agency starts assessing your application, they’ll tell you your application is ‘duly made’. This means they’re starting the assessment process. They may still request more information.</p>

<h3 class="heading-small">Consultations on your application</h3>

<p>If your proposed activities have potentially significant environmental impacts, the Environment Agency may publish a notice of your application for public comment.</p>

<p>In cases of high public interest, they may take further public and specialist consultation, issue more publicity and take longer to give you a decision.</p>

<p><a href="https://www.gov.uk/government/publications/environmental-permitting-public-participation-statement">Read the Environment Agency’s public participation statement</a> to find out why and when the Environment Agency will consult, how they will consult and who with, and what you can do if you have concerns.</p>

<h3 class="heading-small">Decisions about your application</h3>

<p>The Environment Agency will tell you if it approves your application.</p>

<p>You’ll normally get a decision within 2 months if your application relates only to flood risk activities. If the Environment Agency needs further information it will take longer.</p>

<p>Normally it will take 4 months if the application is part of an application for combined activities (such as a flood risk and water discharge activity) or if there’s a public consultation.</p>

<h2 class="heading-medium">When the Environment Agency may change your permit</h2>

<p>The Environment Agency won’t normally change your flood risk activity permit within 3 years of you receiving it. </p>

<p>They may change your permit if:</p>

<ul class="list list-bullet">
<li>you apply to change your permit</li>
<li>you don’t meet conditions or environmental standards</li>
<li>there are changes to legislation</li>
<li>there are changes to the flood, drainage and environmental risks near your activities</li>
</ul>

<h2 class="heading-medium">Complying with your permit</h2>

<p>After you’ve got your permit you’ll need to follow its conditions. Find out <a href="https://www.gov.uk/guidance/how-youll-be-regulated-environmental-permits">how the Environment Agency will regulate you</a>.</p>

<h2 class="heading-medium">If your application is rejected</h2>

<p>The Environment Agency may reject your application if:</p>

<ul class="list list-bullet">
<li>you haven’t used the right forms</li>
<li>you’ve forgotten to include the fee or sent the wrong fee</li>
<li>you haven’t provided all the necessary information</li>
</ul>

<p>You can appeal if the Environment Agency refuses your application or you think the conditions are unreasonable. Their decision letter will explain how to appeal.</p>



<!-- ########################################################################## -->

    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
