{% extends "layout.html" %}

{% block page_title %}
  Register your flood risk activity exemption: environmental permits - Detailed guidance - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Register your flood risk activity exemption: environmental permits</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">About flood risk activity exemptions and how to register.</p>


  </div>
  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-quarter">

          <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
</header>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">
              <li>
                <a href="#flood-risk-activity-exemption-rules">Flood risk activity exemption rules</a>
              </li>
              <li>
                <a href="#when-you-cant-get-an-exemption">When you can’t get an exemption</a>
              </li>
              <li>
                <a href="#additional-requirements">Additional requirements</a>
              </li>
              <li>
                <a href="#register-your-exemption">Register your exemption</a>
              </li>
              <li>
                <a href="#register-online">Register online</a>
              </li>
              <li>
                <a href="#register-by-email-or-post">Register by email or post</a>
              </li>
              <li>
                <a href="#contact-the-environment-agency">Contact the Environment Agency</a>
              </li>
          </ol>
        </nav>
      </nav>

    </div>

    <div class="column-three-quarter">


      <p>You may need an environmental permit if you want to work in, over, under or near a main river or flood or sea defence.</p>

      <p>Some flood risk activities are exempt from needing a permit and you can carry out the work if you register an exemption.</p>

      <h2 class="heading-medium" id="flood-risk-activity-exemption-rules">Flood risk activity exemption rules</h2>

      <p>You must register your exemption.</p>

      <p>You can only register as exempt if your activity:</p>

      <ul class="list list-bullet">
      <li>
        <p>meets the description and conditions set out in the exemption</p>
      </li>
      <li>
        <p>doesn’t increase flood risk, adversely affect land drainage or harm the environment</p>
      </li>
      </ul>

      <p>If you don’t follow these rules the work you are doing will not be exempt. It could also be illegal and the Environment Agency may take enforcement action or prosecute you.</p>

      <p>It is your responsibility to check that you can meet the description and conditions of an exemption.  You can find these in the <a href="https://www.gov.uk/government/publications/environmental-permitting-regulations-exempt-flood-risk-activities">exempt flood risk activities guidance</a>.
      If you can’t meet the description and conditions of an exemption you must <a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">apply for an environmental permit</a>.</p>

      <h2 class="heading-medium" id="when-you-cant-get-an-exemption">When you can’t get an exemption</h2>

      <p>You won’t be able to register an exemption to carry out work at certain locations if they are:</p>

      <ul class="list list-bullet">
      <li>
        <p>environmentally sensitive, eg a European protected site or a Site of Special Scientific Interest</p>
      </li>
      <li>
        <p>too close to a flood defence structure operated by the Environment Agency</p>
      </li>
      </ul>



      <h2 class="heading-medium" id="register-your-exemption">Register your exemption</h2>

      <p>It’s free to register an exemption.</p>

      <p>If you want to register more than one exemption you must complete a separate registration for each.</p>

      <div class="call-to-action">
        <p><a href="/version_4/exemptions/add_exemptions" rel="external">Register your flood risk activity exemptions</a> online.  It should take about 10 minutes.</p>
      </div>

      <hs class="heading-small">You’ll need:</h3>

      <ul class="list list-bullet">
      <li>
        <p>the description for the exemption you want to register - you can find these in the <a href="https://www.gov.uk/government/publications/environmental-permitting-regulations-exempt-flood-risk-activities">exempt flood risk activities guidance</a></p>
      </li>
      <li>
        <p>name and address of the individual, business or organisation that will be carrying out the activity</p>
      </li>
      <li>
        <p>registration number and registered address details if you’re registering the activity for a limited company or limited liability partnership</p>
      </li>
      <li>
        <p>name and address of the person who will be sent the registration confirmation</p>
      </li>
      <li>
        <p>a 12-digit National Grid reference for the location of your work
          - you can use the free <a href="https://www.ordnancesurvey.co.uk/osmaps/" rel="external" target="_blank">Ordnance Survey online map (opens new window)</a> to find this.
        </p>

      </li>
      </ul>

      <div class="panel panel-border-wide">
        <p class="text">
        If you register on behalf of an organisation, or anther person, check you have authority to do that.
        </p>
      </div>


      <h2 class="heading-medium" id="additional-requirements">Additional requirements</h2>

      <p>You may also need to get planning permission if you’re carrying out an exempt activity.</p>

      <p>You also need to check whether there are any protected species in the location you want to carry out your exempt activity. You can check this at your <a rel="external" href="http://www.alerc.org.uk">local environmental records centre.</a>.</p>

      <p>If there are protected species there, you must make sure your activity doesn’t harm them.
      <a href="https://www.gov.uk/guidance/construction-near-protected-areas-and-wildlife">Find out more about protected species</a>.</p>

      <p>You may also need to contact <a href="https://www.gov.uk/government/organisations/natural-england">Natural England</a> to discuss any permitting or licensing requirements they may have.</p>

      <p>A permit or exemption does not give you the right to enter land or property owned by someone else to carry out your work. You need to get the owner’s permission unless you are acting under your own separate statutory powers.</p>



<!--
      <h2 class="heading-medium" id="contact-the-environment-agency">Contact the Environment Agency</h2>

      <p>Contact the Environment Agency if you have queries about flood risk activity exemptions or need help registering.</p>

      <div class="contact postal-address" id="contact_144">
        <h3 class="heading-small">General enquiries</h3>

        <div class="vcard contact-inner">
            <p class="adr">
      <span class="fn">National Customer Contact Centre</span><br>
      <span class="street-address">PO Box 544</span><br>
      <span class="locality">Rotherham</span><br>
      <span class="postal-code">S60 1BY</span>
      </p>


            <div class="email-url-number">
                <p class="email">
                  <span class="type">Email</span>
                  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
                </p>
                <p class="tel">
                  <span class="type">Telephone</span>
                  03708 506 506
                </p>
                <p class="tel">
                  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
                  +44 (0) 114 282 5312
                </p>
                <p class="tel">
                  <span class="type">Minicom (for the hard of hearing)</span>
                  03702 422 549
                </p>
            </div>

            <p class="comments">Monday to Friday, 8am to 6pm</p>
          </div>
        </div>


  -->


      </article>



    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
