{% extends "layout.html" %} {% block page_title %} Check your exemptions {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <form method="post" class="form">

    <h1 class="heading-large">
      Check your exemptions
    </h1>

    <table class="check-your-answers" summary="Exemptions that you selected with title, exemption code and a link to remove any you don't need">
      <tbody>
        <tr>
          <th>
            <p class="font-small">Footbridge over a main river not more than 8 metres wide from bank to bank</p>
          </th>
          <td>
            <span class="bold-small">FRA5</span>
          </td>
          <td class="change-answer">
            <a href="/version_3/exemptions/add_exemptions">Remove<span class="visuallyhidden"> exemption FRA5</span></a>
          </td>
        </tr>

        <tr>
          <th>
            <p class="font-small">Maintaining structures within the channel of a main river that are not raised defences</p>
          </th>
          <td>
            <span class="bold-small">FRA9</span>
          </td>
          <td class="change-answer">
            <a href="/version_3/exemptions/add_exemptions">Remove <span class="visuallyhidden"> exemption FRA9</span></a>
          </td>
        </tr>
      </tbody>
    </table>

    <br />

    <p>
      <a href="/version_3/exemptions/add_exemptions">Add another exemption</a>
    </p>

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue" />
    </div>

  </form>

</div>
</div>

</main>
{% endblock %}
