{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/design_patterns/routing_questions/phone_questions/cables" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          How long is the stretch of river you are dredging?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            How long is the stretch of river you are dredging?
          </legend>

          <div class="form-group">

            <label for="dredging_distance" class="block-label">
              <input type="radio" name="permission_type" value="exemption_23">
              Under 20m
            </label>

            <label for="dredging_distance" class="block-label">
              <input type="radio" name="permission_type" value="exemption_22">
              Between 20m and 1.5km
            </label>

            <p class="form-block">or</p>

            <label for="dredging_distance" class="block-label">
              <input type="radio" name="permission_type" value="permit">
              More than 1.5km
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}