{% extends "layout.html" %}

{% block page_title %}
  Check if you need permission to do work near a river, flood defence or sea defence - Environment Agency - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environment Agency</a></p>
    <header class="text">
      <h1 class="form-title heading-large">Check if you need permission to do work near a river, flood defence or sea defence</h1>
    </header>
    </div>
    </div>

  </div>
  </div><!-- end grid row -->


  <div class="grid-row guide2">
    <div class="inner-block">


<!-- ======================================================== -->

<p class="text">
  You only need a permit from us for work on or near a main river (including its flood plains and flood defences) or a sea defence - check on the <a href="http://maps.environment-agency.gov.uk/wiyby/wiybyController?topic=floodmap&amp;layerGroups=default&amp;lang=_e&amp;ep=map&amp;scale=7&amp;x=531500&amp;y=181500">main river map</a>.
</p>


<div class="collection-group"><div class="head-section"><h2>Bridges, structures, outfalls, utilities</h2></div>

<div class="content">
  <ol>



<li><a href="/version_4/guide2/outfall-culverts">Outfalls and culverts</a></li>


  <li><a href="#">Bridges</a></li>






<li><a href="#">Cables, pipes or utilities crossing a river</a></li>

<li><a href="#">Constructions, channel structures</a></li>
<li><a href="#">Jetty or angling platform</a></li>






</ol></div></div><div class="collection-group"><div class="head-section"><h2>Farming</h2></div><div class="content"><ol><li><a href="#">Cattle drinking bays</a></li>
<li><a href="#">Hay or straw stacks</a></li>
<li><a href="#">Manure clamps </a></li>


</ol></div></div><div class="collection-group"><div class="head-section"><h2>Wildlife and fish</h2></div><div class="content"><ol><li><a href="#">Eel passes</a></li>
<li><a href="#">Emergency work to prevent damage to wildlife</a></li>
<li><a href="#">Fish traps</a></li>
<li><a href="#">Fish-passage notches</a></li>
<li><a href="#">Habitat structures</a></li>
<li><a href="#">Ponds</a></li>
<li><a href="#">Refuge structures for wildlife</a></li>
<li><a href="#">Scrapes</a></li>



</ol></div></div><div class="collection-group"><div class="head-section"><h2>Banks, paths, silt and gravel</h2></div><div class="content"><ol><li><a href="#">Stones, gravel, sand, silt, logs, spoil</a></li>




<li><a href="#">Riverbanks</a></li>
<li><a href="#">Tracks and paths</a></li>

</ol></div></div><div class="collection-group"><div class="head-section"><h2>Flood protection</h2></div><div class="content"><ol><li><a href="#">Raise river or sea defences</a></li>

<li><a href="#">Flood protection devices</a></li>

</ol></div></div><div class="collection-group"><div class="head-section"><h2>Investigations, trial or boreholes, sampling, surveys</h2></div><div class="content"><ol><li><a href="#">Sediment traps</a></li>

<li><a href="#">Trial holes</a></li>
<li><a href="#">Site investigation boreholes</a></li>
<li><a href="#">Survey rafts</a></li>

</ol></div></div><div class="collection-group"><div class="head-section"><h2>Scaffolding, ladders</h2></div><div class="content"><ol><li><a href="#">Ladders</a></li>
<li><a href="#">Scaffold tower</a></li>
<li><a href="#">Scaffolding</a></li>



</ol></div></div><div class="collection-group"><div class="head-section"><h2>Dams, dewatering, diverting</h2></div><div class="content"><ol><li><a href="#">Dams</a></li>
<li><a href="#">Dewatering</a></li>
<li><a href="#">Diverting</a></li>


</ol></div></div><div class="collection-group"><div class="head-section"><h2>Emergencies</h2></div><div class="content"><ol><li><a href="#">Emergencies</a></li>






</ol></div></div><div class="collection-group"><div class="head-section"><h2>Fencing, notice boards</h2></div><div class="content"><ol><li><a href="#">Fencing</a></li>
<li><a href="#">Noticeboards</a></li>

</ol></div></div><div class="collection-group"><div class="head-section"><h2>Dredging</h2></div><div class="content"><ol><li><a href="#">Dredging</a></li>

</ol></div></div>




<!-- ======================================================== -->
    </div><!-- end inner-block -->
  </div><!-- end grid row -->

</main>

{% endblock %}
