{% extends "layout.html" %}

{% block page_title %}

Outfalls and culverts: check if you need a permit to do work - Environment Agency - GOV.UK

{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Outfalls and culverts: check if you need a permit to do work</h1>

      <h2 class="heading-medium">First check if the outfall or culvert is on a main river</h2>

      <p>You will usually need permission to do work under or near a main river or flood defence that could affect flood risk, land drainage or access to the river. You don’t need permission to work on ‘ordinary watercourses’ such as small rivers, streams and ditches. But you may need land drainage consent.</p>

      <p>
        <a href="#">How to check if your work is on a main river</a>
      </p>

      <!--
      <details class="in-guidance">
        <summary><span class="summary">How to check if your work is on a main river</span></summary>
        <div class="panel panel-border-narrow">

          <p>A ‘main river’ is a watercourse that the Environment Agency is responsible for. Check the location of your work on the <a href="http://maps.environment-agency.gov.uk/wiyby/wiybyController?topic=floodmap&amp;layerGroups=default&amp;lang=_e&amp;ep=map&amp;scale=7&amp;x=531500&amp;y=181500">main river map</a>.</p>

          <p>You will need permission if the work could affect flood risk, land drainage or access to the river and it’s:</p>

          <ul class="list list-bullet">
          <li>within 8m of the bank of a main river, or 16m if it is a tidal main river</li>
          <li>within 8m of any flood defence structure or culvert on a main river, or 16m on a tidal river, or where it is a sea defence structure</li>
          </ul>

          <p>You don’t need permission to work on ‘ordinary watercourses’ such as small rivers, streams and ditches. But you should contact your <a href="#">local council</a> or <a href="#">internal drainage board</a>  to check if you need land drainage consent.</p>

        </div>
      </details>

       -->


      <h2 class="heading-medium">Building a new outfall</h2>

      <h3 class="heading-small">Up to 300mm diameter</h3>

      <p>If you can meet the <a href="#">conditions</a> you can <a href="#">register an exemption</a> to build an outfall up to 300mm diameter. If you can't meet the conditions you will need to <a href="#">apply for a permit</a>.</p>

      <h3 class="heading-small">300mm to 500mm diameter</h3>

      <p>If you can build the outfall following our standard rules for outfalls between 300mm and 500mm diameter you could apply for a <a href="#">standard rules permit</a>.</p>

      <h3 class="heading-small">Over 500mm diameter</h3>

      <p>You will need a <a href="#">bespoke permit</a> for an outfall over 500mm diameter.</p>

      <h2 class="heading-medium">Building a new culvert</h2>

      <p>If the culvert is up to 5 metres long and you can build it following our standard rules, you could apply for a <a href="#">standard rules permit</a>.</p>

      <p>If the culvert is longer than 5 metres, you will need a <a href="#">bespoke permit</a>.</p>

      <h2 class="heading-medium">Repairs or maintenance to any outfalls or culverts</h2>

      <p>If you are removing any material from an existing culvert you can <a href="#">register an exemption</a> if you meet the <a href="#">conditions</a>.</p>

      <h2 class="heading-medium">Minor works to roads and rights of way over culverts</h2>

      <p>You don’t need a permit or to register to do minor works to roads and rights of way over culverts.</p>

      <h2 class="heading-medium">Demolishing outfalls or culverts</h2>

      <p>You will need a <a href="#">bespoke permit</a> to demolish an outfall or culvert.</p>

      <h2 class="heading-medium">Emergency work</h2>
      <p>
        You don't need a permit for activities carried out in an emergency.
      </p>
      <p>
        An emergency is a situation that presents a risk of serious flooding, serious damage to land drainage or serious harm to the environment. You must write to the Environment Agency as soon as you can afterwards, to tell them what work you have done and the circumstances of the emergency.
      </p>








    </div>
  </div>
</main>

{% endblock %}
