{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <form action="/" method="post" class="form">

    <a class="link-back" href="/examples/">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          Contact the Environment Agency
        </h1>

        <p>If you have any questions, or want to change your registration details, please call our helpline.</p>

        <p>Telephone: 03708 506 506</p>

      </div>
    </div>

  </form>

</main>
{% endblock %}
