{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <form action="/" method="post" class="form">

    <a class="link-back" href="/examples/">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          Who should we contact about the activity?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Contact details</legend>

          <!-- Full name -->
          <div class="form-group">
            <label class="form-label" for="full-name">Full name</label>
            <p class="form-hint">For example, John Smith</p>
            <input type="text" class="form-control" id="full-name" />
          </div>

          <!-- Position -->
          <div class="form-group">
            <label class="form-label" for="position">Position</label>
            <p class="form-hint">For example, manager</p>
            <input type="text" class="form-control" id="position" />
          </div>

          <!-- Telephone number -->
          <div class="form-group">
            <label class="form-label" for="telephone">Telephone number</label>
            <p class="form-hint">This can be a landline or mobile</p>
            <input type="text" class="form-control" id="telephone" />
          </div>

          <!-- Address -->
          <div class="form-group">
            <label class="heading-medium">Address</label>
            <div>Environment Agency</div>
            <div>Deanery Rd</div>
            <div>Bristol</div>
            <div>BS1 5AH</div>
          </div>

          <!-- Show and hide address-->
          <details>
            <summary id="show-hide-details-summary-1" aria controls="details-content-0" tabindex="0" aria-controls="details-content-0" role="button">
              <span class="summary">Change this address</span>
            </summary>
            <div style="display:block" id="details-content-1">

              <!-- Manual address look-up -->
              <br />

              <div class="form-group">
                <label class="form-label" for="premises">Building name or number
                </label>
                <div class="form-hint">For example, a business premises name or house number</div>
                <input type="text" class="form-control-1-2" id="premises" />
              </div>

              <div class="form-group">
                <label class="form-label" for="street_address">Street line 1</label>
                <input type="text" class="form-control-1-2" id="street_address" />
              </div>

              <div class="form-group">
                <label class="form-label" for="locality">Street line 2 <span class="inline form-hint">(Optional)</span></label>
                <input type="text" class="form-control-1-2" id="locality" />
              </div>

              <div class="form-group">
                <label class="form-label" for="city">Town</label>
                <input type="text" class="form-control-1-2" id="city" />
              </div>

              <div class="form-group">
                <label class="form-label" for="postcode">Postcode</label>
                <input type="text" class="form-control-1-4" id="postcode-2" />
              </div>

            </div>
          </details>

          <!-- Email address -->
          <div class="form-group">
            <label class="form-label" for="email">Email address</label>
            <p class="form-hint">We'll use this to confirm the registration</p>
            <input type="text" class="form-control" id="email" />
          </div>

          <!-- Confirm email address -->
          <div class="form-group">
            <label class="form-label" for="confirm-email">Confirm email address</label>
            <input type="text" class="form-control" id="confirm-email" />
          </div>

        </fieldset>

      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue" />
    </div>

  </form>

</main>
{% endblock %}