{% extends "layout.html" %} {% block page_title %} Contact telephone {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          What's the telephone number of the person responsible?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Contact telephone</legend>

          <!-- Telephone number -->
          <div class="form-group">
            <label class="form-label" for="telephone">Telephone number</label>
            <p class="form-hint">This can be a landline or mobile</p>
            <input type="text" class="form-control" id="telephone" />
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}