{% extends "layout.html" %} {% block page_title %} Check your exemptions {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <form method="post" class="form" action="/version_2-5/check_grid_ref">

    <h1 class="heading-large">
      Check your exemptions
    </h1>

    {% import "custom_inc/macros.html" as formelement %}

    {% from "custom_inc/exemptionlist.html" import exemptions %}

    <table class="check-your-answers" summary="Exemptions that you selected with title, exemption code and a link to remove any you don't need">
      <tbody>

        {% for ex in exemptions %}
          {% if (ex.id==exempt1 or ex.id==exempt2 or ex.id==exempt3 or ex.id==exempt4 or ex.id==exempt5 or ex.id==exempt6) %}
            {{ formelement.printexemption( ex.id, ex.govuktitle) }}
          {% endif %}
        {% else %}
          <tr><td>No radio buttons</td></tr>
        {% endfor %}

      </tbody>
    </table>

    <br />

    <p>
      <a href="/version_2-5/exemptions/add_exemptions">Add another exemption</a>
    </p>

    <input type="hidden" name="isDredging" value="{{isDredging}}" />

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue" />
    </div>

  </form>

</div>
</div>

</main>
{% endblock %}
