<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
  Select the exemption you want to register
</title>



  </head>

  <body class="version_4">



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">


  <p>GOV.UK uses cookies to make the site simpler. <a href="#" title="Find out more about cookies">Find out more about cookies</a></p>


    </div>
    <!--end global-cookie-message-->


    <header role="banner" id="global-header" class="
  with-proposition
">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.16.4" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>

        </div>

  <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name"> Register a flood risk activity exemption </a>
      <!--
      <ul id="proposition-links">
        <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
        <li><a href="url-to-page-2">Navigation item #2</a></li>
      </ul>
      -->
    </nav>
  </div>
</div>


      </div>
    </header>
    <!--end header-->




    <div id="global-header-bar"></div>
    <!--end global-header-bar-->





<main id="content" role="main">



<div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your
      <a id="feedbacklink" href="mailto:glancyea@gmail.com?subject=Feedback%20about%20registering%20a%20flood%20risk%20activity%20exemption&body=My%20feedback%20is:%20">feedback</a>
    will help us to improve it.</span>
  </p>
</div>


<script type="text/javascript">
//<![CDATA[
// Replaces mailto href with string containing page title
  var href_str='mailto:glancyea@gmail.com?subject=Feedback%20about%20registering%20a%20flood%20risk%20activity%20exemption&body=I%20was%20on%20this%20page:%20' + document.title + '%0D%0A%20%0D%0AMy%20feedback%20is:%20';

  document.getElementById("feedbacklink").href = href_str;
//]]>
</script>


  <a class="link-back" href="javascript: history.go(-1)">Back</a>



  <header class="text">
  <h1 class="form-title heading-large">
      Select the exemption you want to register
    </h1>
</header>

    <div class="panel panel-border-wide">
      <p class="text">
        You can only register one exemption at a time.
      </p>
      <p class="text">
        If you need more than one, please make a new registration for each.
      </p>
    </div>

      <form method="post" class="form" action="/version_4/do_exemption_check">



        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">Select the exemption you want to register</legend>










<p>
  <label for="id_FRA2" class="">
  <input id="id_FRA2" type="radio" name="ex[]" value="FRA2">
  Electrical cable service crossing over a main river</label>
</li>





<p>
  <label for="id_FRA3" class="">
  <input id="id_FRA3" type="radio" name="ex[]" value="FRA3">
  Service crossing below the bed of a main river by directional drilling not using an open cut technique</label>
</li>





<p>
  <label for="id_FRA4" class="">
  <input id="id_FRA4" type="radio" name="ex[]" value="FRA4">
  Service crossings attached to the outside of existing structures over a main river</label>
</li>





<p>
  <label for="id_FRA5" class="">
  <input id="id_FRA5" type="radio" name="ex[]" value="FRA5">
  Footbridge over a main river not more than 8 metres wide from bank to bank</label>
</li>





<p>
  <label for="id_FRA6" class="">
  <input id="id_FRA6" type="radio" name="ex[]" value="FRA6">
  Temporary scaffolding in or over a main river for no more than four weeks</label>
</li>





<p>
  <label for="id_FRA7" class="">
  <input id="id_FRA7" type="radio" name="ex[]" value="FRA7">
  Temporary dewatering of a work area for no more than four weeks</label>
</li>





<p>
  <label for="id_FRA8" class="">
  <input id="id_FRA8" type="radio" name="ex[]" value="FRA8">
  Maintaining a raised river or sea defence</label>
</li>





<p>
  <label for="id_FRA9" class="">
  <input id="id_FRA9" type="radio" name="ex[]" value="FRA9">
  Maintaining structures within the channel of a main river that are not raised defences</label>
</li>





<p>
  <label for="id_FRA10" class="">
  <input id="id_FRA10" type="radio" name="ex[]" value="FRA10">
  Constructing drinking bays for livestock on the bank of a river</label>
</li>





<p>
  <label for="id_FRA11" class="">
  <input id="id_FRA11" type="radio" name="ex[]" value="FRA11">
  Constructing small access platforms on the bank of a river or that project into or over a main river</label>
</li>





<p>
  <label for="id_FRA12" class="">
  <input id="id_FRA12" type="radio" name="ex[]" value="FRA12">
  Outfall pipes less than 300mm diameter through a headwall</label>
</li>





<p>
  <label for="id_FRA13" class="">
  <input id="id_FRA13" type="radio" name="ex[]" value="FRA13">
  Repairing and protecting up to 10 metres of main river banks using natural materials</label>
</li>





<p>
  <label for="id_FRA14" class="">
  <input id="id_FRA14" type="radio" name="ex[]" value="FRA14">
  Repairing bank slips and erosion using the fallen materials</label>
</li>





<p>
  <label for="id_FRA15" class="">
  <input id="id_FRA15" type="radio" name="ex[]" value="FRA15">
  Installing channel habitat structures made of natural materials excluding weirs and berms</label>
</li>





<p>
  <label for="id_FRA16" class="">
  <input id="id_FRA16" type="radio" name="ex[]" value="FRA16">
  Installing temporary small rafts for surveys</label>
</li>





<p>
  <label for="id_FRA17" class="">
  <input id="id_FRA17" type="radio" name="ex[]" value="FRA17">
  Gravel-cleaning for fish-spawning beds</label>
</li>





<p>
  <label for="id_FRA18" class="">
  <input id="id_FRA18" type="radio" name="ex[]" value="FRA18">
  Placing stones or logs in a main river to enhance habitats</label>
</li>





<p>
  <label for="id_FRA19" class="">
  <input id="id_FRA19" type="radio" name="ex[]" value="FRA19">
  Constructing eel pass devices on existing structures</label>
</li>





<p>
  <label for="id_FRA20" class="">
  <input id="id_FRA20" type="radio" name="ex[]" value="FRA20">
  Constructing fish passage notches in an existing impounding structure</label>
</li>





<p>
  <label for="id_FRA21" class="">
  <input id="id_FRA21" type="radio" name="ex[]" value="FRA21">
  Removing silt and sand from bridge arches and any material from existing culverts</label>
</li>





<p>
  <label for="id_FRA22" class="">
  <input id="id_FRA22" type="radio" name="ex[]" value="FRA22">
  Removing silt and sand adjacent to in-river structures</label>
</li>





<p>
  <label for="id_FRA23" class="">
  <input id="id_FRA23" type="radio" name="ex[]" value="FRA23">
  Dredging to remove accumulated silt and sand from the bed of up to 1.5km of manmade ditches, land drains, agricultural drains and previously straightened watercourses that are main rivers</label>
</li>





<p>
  <label for="id_FRA24" class="">
  <input id="id_FRA24" type="radio" name="ex[]" value="FRA24">
  Dredging to remove accumulated silt and sand from the bed of up to 20 metres of a main river</label>
</li>





<p>
  <label for="id_FRA25" class="">
  <input id="id_FRA25" type="radio" name="ex[]" value="FRA25">
  Excavating scrapes and shallow wetland features totalling 0.1 hectare in a flood plain</label>
</li>





<p>
  <label for="id_FRA26" class="">
  <input id="id_FRA26" type="radio" name="ex[]" value="FRA26">
  Constructing raised flood defences around a maximum of 6 adjoining properties</label>
</li>





<p>
  <label for="id_FRA27" class="">
  <input id="id_FRA27" type="radio" name="ex[]" value="FRA27">
  Constructing bankside wildlife refuge structures</label>
</li>





<p>
  <label for="id_FRA28" class="">
  <input id="id_FRA28" type="radio" name="ex[]" value="FRA28">
  Improvement works for existing tracks and paths</label>
</li>






          </fieldset>
        </div><!-- // end .form-group -->

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>


</main>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

  <div class="ea-footer">
    <p>Environment Agency (England) helpline: <a href="tel:+443708506506">03708 506506</a></p>
    <ul>
      <li class="inline"><a target="_blank" href="/version_2/end_registration/privacy_policy">Privacy</a></li>
      <li class="inline"><a target="_blank" href="#">Cookies</a></li>
    </ul>
  </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->




  <!-- GOV.UK Prototype kit v2.1.0 -->

  </body>
</html>
