{% extends "layout.html" %} {% block page_title %} Design index {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Routing questions
        </h1>

        <!-- phone questions -->
        <h2 class="heading-medium">Phone questions</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/">
              Phome script words in a digital interface
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Routing questions MVP++</h2>

        <p>
          This is the area for different routing questions
        </p>

        <p>In the browser bar, a is value for each question answered:</p>
        <ul class="list list-bullet">
          <li>0 = nothing</li>
          <li>1 = exclusion + conditions</li>
          <li>2 = register exemption + conditions</li>
          <li>3 = apply for permit</li>
        </ul>



        <!-- Exclusions -->
        <h2 class="heading-medium">Exclusions</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/exclusions/minor_works">
            Minor works
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/exclusions/fencing_notice_boards">
            Fencing, notice boards
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/exclusions/emergencies">
            Emergencies
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/exclusions/flood_protection_devices">
            Flood protection devices
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/exclusions/fish_traps">
            Fish traps
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/exclusions/science_holes_samples">
            Science holes and samples (‘sediment traps’, ‘trial holes’, ‘site investigation boreholes’)
            </a>
          </li>
        </ul>

        <!-- Scaffolding -->
        <h2 class="heading-medium">Scaffolding</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/scaffolding">
              Using scaffolding?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/scaffolding/take_down_daily">
              Taking down daily?
            </a>
          </li>
        </ul>

        <!-- Bridges -->
        <h2 class="heading-medium">Bridges, outfalls</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/bridges_outfalls_culverts/">
              Are you building a bridge or outfall?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/bridges_outfalls_culverts/footbridge">
              What are you building?
            </a>
          </li>
        </ul>

        <!-- Defences -->
        <h2 class="heading-medium">Defences, scrapes, drinking bays</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/defences_scrapes_drinking_bays/">
              Doing anything with a river or sea defence, 'scrape' or 'drinking bay'?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/defences_scrapes_drinking_bays/follow_up_question">
              Follow up questions
            </a>
          </li>
        </ul>

        <!-- Tracks and paths -->
        <h2 class="heading-medium">Tracks and paths</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/tracks_paths/">
              Are you building or altering a track or path?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/tracks_paths/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- Stones, gravel, sand , silt, logs -->
        <h2 class="heading-medium">Stones, gravel, sand , silt, logs</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/stones_gravel_sand_silt_logs/">
              Doing anythign with stones, gravel, sand , silt, logs?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/stones_gravel_sand_silt_logs/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- Wildlife welfare -->
        <h2 class="heading-medium">Wildlife</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/wildlife_welfare/">
              Doing anything for wildlife welfare
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/wildlife_welfare/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- Cables, service crossing -->
        <h2 class="heading-medium">Cables, service crossing</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/cables_service_crossings/">
              Cables, service crossing
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/cables_service_crossings/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- Constructions, channel structures, surveyrafts -->
        <h2 class="heading-medium">Constructions, channel structures, surveyrafts</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/constructions_channelstructures_surveyrafts/">
              Cables, service crossing
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/constructions_channelstructures_surveyrafts/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- riverbanks -->
        <h2 class="heading-medium">Riverbanks</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/riverbanks/">
              Are you doing anything with riverbanks?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/riverbanks/follow_up_question">
              Follow up question?
            </a>
          </li>
        </ul>

        <!-- Dredging -->
        <h2 class="heading-medium">Dredging</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/dredging/">
              Are you dredging the river?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/dredging/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- Dewatering -->
        <h2 class="heading-medium">Dewatering</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/dewatering/">
              Are you dewatering the river?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/dewatering/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- End: declaration -->
        <h2 class="heading-medium">Declartion</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/dewatering/">
              Are you dewatering the river?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/dewatering/follow_up_question">
              Follow up question
            </a>
          </li>
        </ul>

        <!-- phone questions -->
        <h2 class="heading-medium">Phone questions</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/">
              Phome script words in a digital interface
            </a>
          </li>
        </ul>

      </form>

    </div>
  </div>

</main>
{% endblock %}