{% extends "layout.html" %} {% block page_title %} Design index {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Phone questions, but digital
        </h1>

        <!-- phone questions -->
        <h2 class="heading-medium">Building</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/building">
              Are you building a new structure on, in, next to, or across a river?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/building/what_you_building">
              What are you building?
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Repair and maintain</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/repair_maintain">
              Are you repairing a site or carrying out maintenance on, in, next to, or across a river?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/repair_maintain/what_you_doing">
              What are you doing?
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Animal welfare</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/animal_welfare">
              Are you building a structure for animal welfare or cleaning gravel for fish spawning?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/animal_welfare/what_is_it">
              What are you doing?
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Scaffolding and ladders</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/scaffolding_ladders">
              Are you erecting scaffolding or ladders in or over a river?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/scaffolding_ladders/for_how_long">
              Will the structure be in place for longer than a day?
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Floodplain digging</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/floodplain">
              Are you digging in the floodplain?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/floodplain/what_you_digging">
              What are you doing? 
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Cables</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/cables">
              Are you crossing the river with cables or other services?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/cables/existing_or_new_thing">
              Are the cables or services crossing the river using an existing structure, such as a bridge?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/cables/on_existing_thing">
              Is the cable, service crossing inside or attached to a exisiting thing? 
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/cables/on_new_thing">
              Are the cables or services being installed under the riverbed, in the river itself, or above the river?
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Remove sand and silt</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/remove_sand_silt">
              Are you removing sand or silt from the riverbed?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/remove_sand_silt/are_you_dredging">
              Are you dredging?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/remove_sand_silt/dredging_distance">
              How long is the stretch of river you are dredging?
            </a>
          </li>
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/remove_sand_silt/what_you_doing">
              What are you doing?
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">Floodplain digging</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/dewatering">
              Are you temporarily dewatering a work area?
            </a>
          </li>
        </ul>

        <h2 class="heading-medium">conditions</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions/phone_questions/conditions">
              Rules and conditions for licence
            </a>
          </li>
        </ul>

      </form>

    </div>
  </div>

</main>
{% endblock %}