{% extends "layout.html" %} {% block page_title %} Design index {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Design ideas
        </h1>

        <p>
          This is an area for designers to try new patterns based upon user research.
        </p>

        <h2 class="heading-medium">Location</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/grid_reference">
              Where will the activity be located?
            </a>
          </li>
          <br>
          <li>
            <a href="/version_1/location/abstract_grid_references/choose_location_type">Choose location type</a>
          </li>
          <li>
            <a href="/version_1/location/activity_specific/bridge_grid_reference">Bridge grid reference</a>
          </li>
          <li>
            <a href="/version_1/location/activity_specific/scaffolding_grid_reference">Scaffolding grid reference</a>
          </li>
          <li>
            <a href="/version_1/end_registration/declaration_conditions">Declarations with conditions</a>
          </li>
          <li>
            <a href="/version_1/end_registration/declaration_conditions_page">Conditions</a>
          </li>
        </ul>

        <h2 class="heading-medium">Addresses</h2>
        <ul class="list list-bullet">
          <li>
            <a href="">Postcode look-up</a>
          </li>
        </ul>

        <h2 class="heading-medium">Routing questions</h2>
        <ul class="list list-bullet">
          <li>
            <a href="/design_patterns/routing_questions">User sorting questions</a>
          </li>
        </ul>

      </form>

    </div>
  </div>

</main>
{% endblock %}