{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <form action="/" method="post" class="form">

    {% include "custom_inc/backlink.html" %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          Where will the activity be located? 
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Where will the activity be located?</legend>

          <!-- Grid reference -->
          <div class="form-group">
            <label class="form-label" for="grid-reference">Provide a postcode</label>
            <p class="form-hint">For example, TW1 3AF</p>
            <input type="text" class="form-control" id="grid-reference" />
          </div>

          <!-- Find grid reference -->
          <details style="padding-bottom: 18px;">
            <summary><span class="summary">Help finding postcode</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                 There are different ways to find a grid reference for a location.
              </p>
              <p>
                 Use this guide to <a href="#">find a grid reference service.</a>
              </p>
            </div>
          </details>

          <!-- Manual address look-up -->
          <div class="form-group">
            <label class="form-label" for="grid-reference">Provide more site details</label>
            <p class="form-hint">Useful information might include:</p>
            <ul class="list-bullet form-hint">
              <li>nearby landmarks</li>
              <li>site description</li>
              <li>man-made features, for example: roads, walls or buildings</li>
              <li>natural features, for example: rivers, trees or hedges</li>
            </ul>
            <textarea class="form-control form-control-textarea" id="location-comments" rows="6" cols="50"></textarea>
            <p class="form-hint">500 character limit</p>
          </div>

        </fieldset>

        <!-- Primary button -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </div>
    </div>

  </form>

</main>
{% endblock %}
