{% extends "layout.html" %} {% block page_title %} Start page example {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Register your flood risk activity
      </h1>

      <h2 class="heading-medium">Use this service to check:</h2>

      <ul class="list list-bullet">
        <li>if you need permission for your activity</li>
        <li>whether you need to register or apply for a permit</li>
        <li>the conditions for your activty</li>
      </ul>

      <br>

      <p>Registering takes around 5 minutes.</p>

      <br>

      <p>
        <a class="button button-start" href="/design_patterns/routing_questions/phone_questions/building" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
