{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/email/" %}

{% block page_title %}
  Gmail | Flood risk activity exemption successfully registered
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div id="email">

<div id="gmail_header">
  <img src="{{ imgpath }}gmail_header.png" alt="" />
</div>

  <div class="grid-row">

    <div class="column-one-quarter">
      <img src="{{ imgpath }}gmail_menu_left.png" alt="" />
    </div>


    <div class="column-three-quarter">

      <p class="subject">
        Flood risk activity exemption successfully registered <img class="inboxicon" src="{{ imgpath }}gmail_icon_inbox.png" alt="" />
      </p>

      <p class="from">
        <img src="{{ imgpath }}gmail_from_text.png" alt="" />
      </p>

      <div id="email_text">

        <div id="banner" style="background-color:#000;"><img src="{{ imgpath }}gov_uk_email_header.png" alt="GOV.UK" /></div>

        <h1 class="bold-large">
          We’ve registered your exemption
        </h1>
</header>


        <p class="bold-small">
          Your reference is EXFRA001023
        </p>

        <p class="bold-small">
          Exemption registered
        </p>

          <p>
            Footbridge over a main river not more than 8 metres wide from bank to bank FRA5.
          <br/>
            at grid reference ST 58132 72695.
        </p>


        <p class="bold-small">
          Things you need to do before you start work
        </p>

        <p>
        When we checked the location we found flood defences, river control works or culverts within 1 kilometre. Some of the conditions of your exemption refer to these. You should check to make sure you can meet the conditions.
        </p>
        <p>
          You should re-check the conditions of your exemptions in the <a href="https://www.gov.uk/government/publications/environmental-permitting-regulations-exempt-flood-risk-activities">flood risk activities guidance</a>.
        </p>

<p>
        You also need to check whether there are any protected species in the location you want to carry out your exempt activity. You can check this at your <a href="http://www.alerc.org.uk/find-an-lerc-map.html">local environmental records centre</a>.  If there are protected species there, you must make sure your activity doesn’t harm them. <a href="https://www.gov.uk/guidance/protected-species-and-sites-how-to-review-planning-proposals">Find out more about protected species</a>.
</p>
<p>
You may also need to contact <a href="https://www.gov.uk/government/organisations/natural-england">Natural England</a> to discuss any permitting or licensing requirements they may have.
</p>
<p>
You may also need to get separate <a href="https://1app.planningportal.co.uk/YourLpa/FindYourLpa?">planning permission</a> if you’re carrying out an exempt activity.
</p>
<p>
A permit or exemption does not give you the right to enter land or property owned by someone else to carry out your work. You need to get the owner’s permission unless you are acting under your own separate statutory powers.
</p>



        <p class="bold-small">
          The location is on a river where salmon are protected
        </p>
        <p>
        This means you cannot do any work between 1 October and 14 March each year. If you need to work during this period, you must <a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">apply for a permit</a>.
      </p>

      <p class="bold-small">
        Date of registration
      </p>
      <p>
        23 June 2016
      </p>
      <p>
        Exemptions don’t expire except for dredging FRA23 which expires 3 years after the registration date and dredging FRA24 which expires 1 year after the registration date.
      </p>

      <p class="bold-small">
        Responsible for activity (the ‘operator’)
      </p>
      <p>
        Somershire District Council</br>
        Some address, Somershire
      </p>
      <p class="bold-small">
        Who we will contact
      </p>
      <p>
        Sarah Site Manager</br>
        Tel: 01234 56788</br>
        sara@careful.com
      </p>

        <p class="bold-small">
          Your responsibilities
        </p>
        <p>
          The organisation or individual responsible must keep to the description and conditions for the exemption(s). We can prosecute them if they don’t do this.

        <p class="bold-small">
          If your activity changes
        </p>
        <p>
          If the location changes, you will need to register a new exemption.
        </p>
        <p>
          If the activity or the way you are doing the work changes, you will need to check if it is still exempt.
        </p>

          <p>&nbsp;</p>
          <p class="bold-small">For testing: emails</p>
          <ul class="list list-bullet">
            <li><a href="/version_4/end_registration/email-confirm">Confirmation email</a></li>
            <li><a href="/version_4/end_registration/email-nccc-valid">EA email if valid</a></li>
            <li><a href="/version_4/end_registration/email-nccc-not-valid">EA email if not valid</a></li>
            <li><a href="/version_4/">Return to index page</a></li>
          </ul>




      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
