{% extends "layout.html" %}

{% block page_title %}
  Develop a management system - Detailed guidance - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Develop a management system: environmental permits for flood risk activity</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">How to develop a management system for carrying out  flood risk activities under an environmental permit.</p>


  </div>
  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-quarter">

          <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
</header>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">
              <li>
                <a href="#flood-risk-activity-exemption-rules">Flood risk activity exemption rules</a>
              </li>
              <li>
                <a href="#when-you-cant-get-an-exemption">When you can’t get an exemption</a>
              </li>
              <li>
                <a href="#additional-requirements">Additional requirements</a>
              </li>
              <li>
                <a href="#register-your-exemption">Register your exemption</a>
              </li>
              <li>
                <a href="#register-online">Register online</a>
              </li>
              <li>
                <a href="#register-by-email-or-post">Register by email or post</a>
              </li>
              <li>
                <a href="#contact-the-environment-agency">Contact the Environment Agency</a>
              </li>
          </ol>
        </nav>
      </nav>

    </div>

    <div class="column-three-quarter">

      <!-- START DRAFT HTML ======================================== -->

      <p>You need to submit a management system when you apply for an environmental permit for flood risk activities.
Your management system must include your:</p>
<ul class="list list-bullet">
<li>site infrastructure plan</li>
<li>method of work</li>
<li>site and equipment maintenance plan</li>
<li>contingency plans</li>
<li>accident plan</li>
<li>complaints procedure</li>
<li>staff competence and training records</li>
</ul>
<p>You’ll be in breach of your permit if you don’t put your management system into immediate effect when you start work.</p>
<h2 class="heading-medium" id="site-infrastructure-plan">Site infrastructure plan</h2>
<p>You must include a scale plan of your site showing where you’ll do your activities and showing any activities that you have an exclusion or an exemption for.</p>
<h3 id="vulnerable-locations">Vulnerable locations</h3>
<p>You must show areas on your site that are vulnerable to flooding, drainage or environmental effects. </p>
<h2 class="heading-medium" id="method-of-work">Method of work</h2>
<p>Describe in detail the individual jobs you’ll be doing on the site. Include enough detail to show how, when, where and for how long you’ll be doing each activity.</p>
<p>List the steps you’ll take to prevent or minimise risks to the environment for each of your operations. Include what you’ll do at each stage to:</p>
<ul class="list list-bullet">
<li>ensure there’s no increase to flood risk or impact on drainage</li>
<li>limit sediment disturbance</li>
<li>limit the impact on biodiversity</li>
<li>ensure careful storage and disposal of waste</li>
<li>prevent pollution from static plant, mobile machinery, re-fuelling and material storage</li>
<li>prevent or minimise impacts on habitats and wildlife</li>
<li>prevent the spread of invasive non-native species or plant or animal diseases</li>
</ul>
<h2 class="heading-medium" id="site-and-equipment-maintenance-plan">Site and equipment maintenance plan</h2>
<p>You need to show how you’ll maintain the infrastructure of your site and any machinery.</p>
  <p>
You must maintain machinery according to the manufacturer’s or supplier’s recommendations. You need to record each time you do any maintenance.</p>
<h2 class="heading-medium" id="contingency-plans">Contingency plans</h2>
<p>You need a plan to show how you’ll minimise the environmental impact of:</p>
<ul class="list list-bullet">
<li>breakdowns</li>
<li>enforced shutdowns</li>
<li>unexpected conditions, like contaminated sediment or bank instability</li>
<li>changes in normal operations, eg due to flooding or extreme weather
<a href="https://www.gov.uk/government/publications/preparing-for-flooding-a-guide-for-regulated-sites">Read flood planning guidance</a> to help you follow your environmental permit.</li>
</ul>
<h2 class="heading-medium" id="accident-plan">Accident plan</h2>
<p>You need to show how you’ll deal with any accidents or events that could result in flood risk or pollution.
</p>
<p>
Your plan must identify potential incidents, like:</p>
<ul class="list list-bullet">
<li>equipment breakdowns</li>
<li>enforced shutdowns</li>
<li>fires</li>
<li>vandalism</li>
<li>flooding</li>
<li>bad weather</li>
</ul>
<p>For each potential incident, your plan must also show:</p>
<ul class="list list-bullet">
<li>the likelihood of the incident</li>
<li>the likely consequences</li>
<li>how you’ll try to prevent it</li>
<li>how you’ll limit the impact</li>
</ul>
<p>Your accident plan must also say how you’ll record, investigate and respond to accidents or breaches of your permit.
</p>
<p>Your accident plan must also include all of the following:</p>
<ul class="list list-bullet">
<li>the last review date</li>
<li>the next review date</li>
<li>a list of emergency contacts and how to reach them</li>
<li>a list of substances stored at your site</li>
<li>a list of your storage facilities</li>
<li>accident report forms</li>
</ul>
<p>You may also need to:</p>
<ul class="list list-bullet">
<li>make emergency services aware of your activities</li>
<li>take out insurance to cover the cost of cleaning up following an incident</li>
<li><a href="http://planningguidance.communities.gov.uk/blog/guidance_v1/flood-risk-and-coastal-change/flood-zone-and-flood-risk-tables/table-1-flood-zones/">check whether you’re in a flood risk area</a> and <a href="https://fwd.environment-agency.gov.uk/app/olr/home">register for flood warnings</a> </li>
<li>develop a system to allow access to important information away from your site</li>
</ul>
<h2 class="heading-medium" id="complaints-procedure">Complaints procedure</h2>
<p>You need to include a procedure that records:</p>
<ul class="list list-bullet">
<li>any complaints you receive </li>
<li>how you investigated those complaints</li>
<li>any actions taken as a result of complaints</li>
</ul>
<h2 class="heading-medium" id="staff-competence-and-training-records">Staff competence and training records</h2>
<p>You need to show that you have enough staff and resources to run the site effectively, showing who handles what, and who is technically competent.
</p>
<p>
For each of your managers, staff and contractors, make a list of any roles they carry out that relate to activities covered by your permit.
</p>
<p>You’ll also need a procedure to:</p>
<ul class="list list-bullet">
<li>check your staff and contractors have taken the training or qualifications required for their work</li>
<li>record any training, refresher training or qualifications taken by your staff or contractors</li>
</ul>
<h2 class="heading-medium" id="keeping-records">Keeping records</h2>
<p>You’ll need to keep records of:</p>
<ul class="list list-bullet">
<li>permits issued to the site</li>
<li>other legal requirements</li>
<li>your risk assessment</li>
<li>your management system, including any plans</li>
<li>any plans required by the application or permit depending on your type of activity, eg the method of work</li>
<li>all operating procedures</li>
<li>staff competence and training records</li>
<li>any monitoring undertaken, eg water or sediment samples</li>
<li>compliance checks, findings of investigation and actions taken</li>
<li>complaints made, findings of investigation and actions taken</li>
<li>audits of management system, findings (reports) and actions taken</li>
<li>management reviews and changes made to the management system</li>
<li>certification audit reports and any actions carried out, where applicable</li>
</ul>
<p>If your permit doesn’t tell you how long you must keep records for, you can propose how long you’ll keep them and show this in your management system. </p>
<p>You also need to include copies of your plans with your management system if:</p>
<ul class="list list-bullet">
<li>your permit requires you to carry out an approved plan</li>
<li>you’ve been asked to do this because there’s a problem at your site</li>
</ul>
<h2 class="heading-medium" id="review-your-management-system">Review your management system</h2>
<p>You must have a procedure for checking that you comply  with your permit, procedures and management system. Keep a full record of periodic checks.
</p>
<p>You must review and update your management system when:</p>
<ul class="list list-bullet">
<li>you make changes to your site, operations or equipment that affect the activities covered by your permit</li>
<li>you apply to change your permit</li>
<li>any accident, complaint or breach of your permit occurs</li>
<li>you encounter a new flood, drainage or environmental problem or issue, and have put new measures in place to control it</li>
</ul>
<p>You must keep a record of changes to your management system, particularly major changes like:</p>
<ul class="list list-bullet">
<li>changing the method of work</li>
<li>putting new control measures in place</li>
</ul>
<p>The Environment Agency may review your management system and recommend improvements after accidents or breaches. They may also ask you to improve your management system if you haven’t identified or minimised risks from pollution.</p>
<h2 class="heading-medium" id="make-your-management-system-available">Make your management system available</h2>
<p>Your staff must have access to and understand any sections of your management system that relate to their work.
</p>
<p>The Environment Agency may ask to see your management system at any time.</p>
<p>
You must explain your activity and its permits to people in the surrounding area if they request this information. </p>

      <!-- END DRAFT HTML   ======================================== -->

    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
