{% extends "layout.html" %}

{% block page_title %}
  Register your flood risk activity exemption: environmental permits - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="heading-with-extra">
    <div class="inner-heading">
      <p class="type"><a href="#">Environmental management </a> – guidance</p>
    <header class="text">
  <h1 class="form-title heading-large">Register your flood risk activity exemption: environmental permits</h1>
</header>
    </div>
    </div>

    <aside class="meta metadata-list">
      <dl>
          <dt>From:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="organisation-link" href="#">Environment Agency</a> and <a class="organisation-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>
    </dd>
          <dt>First published:</dt>
    <dd><time class="date" datetime="2016-04-06T08:30:00+01:00"> 6 April 2016</time></dd>
          <dt>Part of:</dt>
          <dd class="js-hide-extra-metadata">
    <a class="sector-link" href="#">Flooding and coastal change</a>, <a class="sector-link" href="#">Environmental permits</a> and <a class="policy-link" href="#">Flooding and coastal change</a>
    </dd>
          <dt>Applies to:</dt>
          <dd class="inapplicable-nations"><span class="inapplicable-nations">England</span></dd>
      </dl>
    </aside>


    <p class="lede">How and when you can register for an exemption to do work near a main river or flood or sea defence without a permit.</p>


  </div>
  </div><!-- end grid row -->



  <div class="grid-row">


    <div class="column-quarter">

          <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
</header>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">
              <li>
                <a href="#when-you-cant-get-exemption">When you can’t get an exemption</a>
              </li>
              <li>
                <a href="#register-your-exemption">Register your exemption</a>
              </li>

          </ol>
        </nav>
      </nav>

    </div>

    <div class="column-three-quarter">


      <p>You can only operate without a permit if your activity is listed as one of the <a href="/version_4/guidance_v1/exempt-flood-risk-activities-environmental-permitting-regulations">activities exempt from environmental permitting</a>.</p>

<p>You must <a href="#register-your-exemption">register your exemption</a> before you start work.
You can only register as exempt if your activity:</p>

<ul class="list list-bullet">
<li>meets <a href="/version_4/guidance_v1/exempt-flood-risk-activities-environmental-permitting-regulations">the description and conditions of your exemption</a></li>
<li>doesn’t increase flood risk, adversely affect land drainage or harm the environment</li>
</ul>

<p>If you don’t follow these rules and you continue to work without an environmental permit, your work could be illegal and the Environment Agency may take enforcement action or prosecute you.</p>

<p>If you can’t meet the description and conditions of an exemption, you must <a href="/version_4/guidance_v1/flood-risk-activities-environmental-permits">apply for an environmental permit</a>.</p>

<h2 class="heading-medium" id="#when-you-cant-get-exemption">When you can’t get an exemption</h2>

<p>You won’t be able to register an exemption to carry out work at certain locations if they are:</p>

  <ul class="list list-bullet">
  <li>environmentally sensitive, eg a European protected site or a Site of Special Scientific Interest</li>
<li>too close to a flood defence structure operated by the Environment Agency</li>
</ul>

<h2 class="heading-medium" id="register-your-exemption">Register your exemption</h2>

<p>It’s free to register an exemption.
If you want to register more than one exemption you must complete a separate registration for each.</p>

<div class="call-to-action">
<p><a href="/version_4/exemptions/add_exemptions">Register your flood risk activity exemptions</a> online. It should take about 10 minutes.</p>
</div>

<p>You’ll need:</p>

<ul class="list list-bullet">
<li>the description for the exemption you want to register - you can find these in the <a href="/version_4/guidance_v1/exempt-flood-risk-activities-environmental-permitting-regulations">exempt flood risk activities guidance</a></li>
<li>name and address of the individual, business or organisation that will be carrying out the activity</li>
<li>registration number and registered address details if you’re registering the activity for a limited company or limited liability partnership</li>
<li>name and address of the person who will be sent the registration confirmation</li>
<li>a 12-digit National Grid reference for the location of your work
  - you can use the free <a href="https://www.ordnancesurvey.co.uk/osmaps/" rel="external" target="_blank">Ordnance Survey online map (opens new window)</a> to find this.
</li>
</ul>


<div class="panel panel-border-wide">
  <p class="text">
  If you register on behalf of an organisation, or anther person, check you have authority to do that.
  </p>
</div>




      </article>



    </div>

  </div><!-- end grid row -->

</main>

{% endblock %}
