{% extends "layout.html" %} {% block page_title %} Where are the start and end points of the activity? {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <form method="post" class="form">

    {% include "custom_inc/backlink.html" %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="form-title heading-large">
          Where are the start and end points of the activity?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Where are the start and end points of the activity?</legend>

          <!-- Grid reference START -->
          <div class="form-group">
            <label class="form-label" for="grid-reference-start">Start point grid reference
              <span class="form-hint">
                For example, ST 58132 72695.
              </span>
            </label>
            <input type="text" class="form-control" id="grid-reference-start" aria-describedby="ngr_help" />
          </div>

          <!-- Grid reference END -->
          <div class="form-group">
            <label class="form-label" for="grid-reference-end">End point grid reference
              </label>
            <input type="text" class="form-control" id="grid-reference-end" aria-describedby="ngr_help" />
          </div>

        </fieldset>

        <!-- Find grid reference -->
        <details style="padding-bottom: 18px;" id="ngr_help">
          <summary><span class="summary">Help finding a grid reference</span></summary>
          <div class="panel panel-border-narrow">
            <p>Use the free <a href="https://www.ordnancesurvey.co.uk/osmaps/" rel="external" target="_blank">Ordnance Survey online map</a> to find a grid reference.</p>
            <p>Zoom in and centre the map on the activity location and select the ‘Grid Ref' tool. You should be able to copy and paste the grid reference back into this page.</p>
          </div>
        </details>


        <!-- Primary button -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </div>
    </div>

  </form>

</main>
{% endblock %}
