{% extends "layout.html" %} {% block page_title %} Where will the exemption activity take place? {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <form method="post" class="form">

    {% include "custom_inc/backlink.html" %}

      <header class="text">
    <h1 class="form-title heading-large">
          Where will the exemption activity take place?
        </h1>
</header>

        <fieldset>
          <legend class="visuallyhidden">Where will the exemption activity take place?</legend>

          <!-- Grid reference -->
          <div class="form-group">
            <label class="form-label" for="grid-reference">National grid reference
              <span class="form-hint text">
                For example, ST 58132 72695.
              </span>
              <span class="form-hint text">
                For activities that take place over a stretch of the watercourse choose the middle or centre point.
              </span>
            </label>
            <input type="text" class="form-control form-control-char-25" id="grid-reference" aria-describedby="ngr_help" />
          </div>

        </fieldset>

        <!-- Find grid reference -->
        <details style="padding-bottom: 18px;" id="ngr_help">
          <summary><span class="summary">Help finding a grid reference</span></summary>
          <div class="panel panel-border-narrow">
            <p>
              Use the free <a href="https://www.ordnancesurvey.co.uk/osmaps/" rel="external" target="_blank">Ordnance Survey online map (opens new window)</a>.
            </p>
            <ul class="list list-number">
              <li>
              Search for a place and zoom in.
            </li>
            <li>
              Right-click to drop a pin and see the grid reference.
            <br/>
              Or select ‘Grid Ref' at the top and drag your location under the centre cross.
            </li>
            <li>
              Select the grid reference then copy using Ctrl-C or Command-C keys.
            </li>
          </ul>
          </div>
        </details>


        <!-- Primary button -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

  </form>

</main>
{% endblock %}
