// Box with turquoise background and white text
// Used for transaction end pages, and Bank Holidays
.govuk-box-highlight {
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  color: $white;
  background: $turquoise;
  text-align: center;
}

// Declaration
// Used for transactional declaration pages

.heading-with-border {
  border-top: 1px solid #bfc1c3;
  padding-top: 15px;
}

.icon-important {
    margin-right: 15px;
}

.inline {
    display: inline;
}
