{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">River permissions</h1>

      <p>
        This is a prototype for usability testing only.
      </p>

      <h2 class="heading-medium">Start</h2>
      <ul>
        <li>
          <a href="/version_1/guidance/guidance">Guidance</a>
        </li>
        <li>
          <a href="/version_1/start/gds_start">GDS start page</a>
        </li>
        <li>
          <a href="/version_1/start/start_registration">New registration</a>
        </li>
      </ul>

      <h2 class="heading-medium">Location details</h2>
      <ul>
        <li>
          <a href="/version_1/location/choose_location">Choose location</a>
        </li>
        <li>
          <a href="/version_1/location/postcode">Postcode</a>
        </li>
        <li>
          <a href="/version_1/location/grid_reference">National grid reference</a>
        </li>
      </ul>

      <h2 class="heading-medium">Farm details</h2>
      <ul>
        <li>
          <a href="/version_1/farmer/farmer_question_a">Will the thing take place on a farm?</a>
        </li>
        <li>
          <a href="/version_1/farmer/farmer_question_b">Is the person doing the thing a farmer?</a>
        </li>
      </ul>

      <h2 class="heading-medium">Questions about the thing</h2>
      <ul>
        <li>
          Questions
        </li>
      </ul>

      <h2 class="heading-medium">Type of user</h2>
      <ul>
        <li>
          <a href="/version_1/user_type/user_type">User type</a>
        </li>
      </ul>

      <br />

      <h3>Public organisation</h3>
      <ul>
        <li>
          <a href="/version_1/user_type/public_organisation_name">Public organisation name</a>
        </li>
        <li>
          <a href="/version_1/address/public_organisation_postcode">Public organisation address</a>
        </li>
      </ul>

      <br />

      <h3>Company</h3>
      <ul>
        <li>
          <a href="/version_1/user_type/company_number">Company registration number</a>
        </li>
        <li>
          <a href="/version_1/user_type/company_name">Company name</a>
        </li>
        <li>
          <a href="/version_1/address/company_postcode">Company address</a>
        </li>
      </ul>

      <br />

      <h3>Individual</h3>
      <ul>
        <li>
          <a href="/version_1/user_type/individual_name">Individual name</a>
        </li>
        <li>
          <a href="/version_1/address/individual_postcode">Individual address</a>
        </li>
      </ul>

      <br />

      <h3>Partnership</h3>
      <ul>
        <li>
          <a href="/version_1/user_type/partnership">Partnership</a>
        </li>
        <li>
          <a href="/version_1/user_type/partnership_details">Partnership details</a>
        </li>
      </ul>

      <h2 class="heading-medium">Contact details</h2>
      <ul>
        <li>
          <a href="/version_1/contact/applicant_contact">Applicant contact</a>
        </li>
        <li>
          <a href="/version_1/contact/main_contact">Main contact</a>
        </li>
      </ul>

      <!-- <h2 class="heading-medium">Exemptions</h2>
      <ul>
        <li>
          <a href="">Add exemptions</a>
        </li>
      </ul> -->

      <!-- <h2 class="heading-medium">Address</h2>
      <ul>
        <li>
          <a href="">Address</a>
        </li>
        <li>
          <a href="">Site location</a>
        </li>
      </ul> -->

      <h2 class="heading-medium">End of registration</h2>
      <ul>
        <li>
          <a href="/version_1/end_registration/check_your_answers">Check your answers</a>
        </li>
        <li>
          <a href="/version_1/end_registration/declaration">Declaration</a>
        </li>
        <li>
          <a href="/version_1/end_registration/confirmation">Confirmation</a>
        </li>
      </ul>

      <h2 class="heading-medium">Other resources</h2>

      <ul class="list list-bullet">
        <li>
          <a href="http://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
        </li>
        <li>
          <a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
        </li>
        <li>
          <a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
