{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">River permissions</h1>

      <p>
        This is a prototype for usability testing only.
      </p>

      <h2 class="heading-medium">Step 1: read guidance</h2>
      <ul>
        <li>
          <a href="/version_1/guidance/guidance">Guidance</a>
        </li>
        <li>
          <a href="/version_1/start/gds_start">GDS start page</a>
        </li>
      </ul>

      <h4 class="heading-medium">Step 2: enter location</h4>
      <ul>
        <li>
          <a href="/version_1/location/grid_reference">National grid reference</a>
        </li>
      </ul>

      <h3 class="heading-medium">Step 3: add exemptions</h3>
      <ul>
        <li>
          <a href="/version_1/exemptions/add_exemptions">Add exemptions</a>
        </li>
        <li>
          <a href="/version_1/exemptions/check_exemptions">Check exemptions</a>
        </li>
      </ul>

      <h5 class="heading-medium">Step 4: enter contact details</h5>
      <ul>
        <li>
          <a href="/version_1/contact/applicant_contact">Applicant contact</a>
        </li>
      </ul>

      <h6 class="heading-medium">Step 5: select user type</h6>
      <ul>
        <li>
          <a href="/version_1/user_type/user_type">Select user type</a>
        </li>
      </ul>

      <br />

      <p>Public organisation</p>
      <ul>
        <li>
          <a href="/version_1/user_type/public_organisation_name">Public organisation name</a>
        </li>
        <li>
          <a href="/version_1/address/public_organisation_postcode">Public organisation address</a>
        </li>
      </ul>

      <br />

      <p>Company</p>
      <ul>
        <li>
          <a href="/version_1/user_type/company_number">Company registration number</a>
        </li>
        <li>
          <a href="/version_1/user_type/company_name">Company name</a>
        </li>
        <li>
          <a href="/version_1/address/company_postcode">Company address</a>
        </li>
      </ul>

      <br />

      <p>Individual</p>
      <ul>
        <li>
          <a href="/version_1/user_type/individual_name">Individual name</a>
        </li>
        <li>
          <a href="/version_1/address/individual_postcode">Individual address</a>
        </li>
      </ul>

      <br />

      <p>Partnership</p>
      <ul>
        <li>
          <a href="/version_1/user_type/partnership">Partnership</a>
        </li>
        <li>
          <a href="/version_1/user_type/partnership_details">Partnership</a>
        </li>
      </ul>

      <h2 class="heading-medium">Step 6: enter main contact details</h2>
      <ul>
        <li>
          <a href="/version_1/contact/applicant_contact">Main contact</a>
        </li>
      </ul>

      <h2 class="heading-medium">Step 7: complete registration</h2>
      <ul>
        <li>
          <a href="/version_1/end_registration/check_your_answers">Check your answers</a>
        </li>
        <li>
          <a href="/version_1/end_registration/declaration">Declaration</a>
        </li>
        <li>
          <a href="/version_1/end_registration/confirmation">Confirmation</a>
        </li>
        <li>
          <a href="/version_1/end_registration/email">Email confirmation</a>
        </li>
      </ul>

      <h2 class="heading-medium">Other resources</h2>

      <ul class="list list-bullet">
        <li>
          <a href="http://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
        </li>
        <li>
          <a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
        </li>
        <li>
          <a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}