{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Register your flood risk activity</h1>

      <h2 class="heading-medium">Minium viable product</h2>
    <ul class="list list-bullet">
      <li>
        <a href="/version_3/index">Prototype: version 3</a>
      </li>
      <li>
        <a href="/version_2-5/index">Prototype: version 2.5 experimental dev for v3 decisions</a>
      </li>
      <li>
        <a href="/version_2/index">Prototype: version 2</a>
      </li>

        <li>
          <a href="/version_1/index">Prototype: version 1</a>
        </li>

      </ul>

      <h2 class="heading-medium">Minimum viable product plus</h2>
      <ul class="list list-bullet">
        <li>
          <a href="http://routing-questions-ea.herokuapp.com/design_patterns/routing_questions_start">Prototype: routing questions</a>
        </li>
      </ul>

      <h2 class="heading-medium">Guidance</h2>
      <ul class="list list-bullet">
        <li>
          <a href="/version_1/guidance/guidance">Flood risk activities description and conditions (old)</a>
        </li>
      </ul>

      <h2 class="heading-medium">Design area</h2>
      <ul class="list list-bullet">
        <li>
          <a href="/design_patterns/index">New design ideas</a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
