{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_top %}
  <div class="ea-footer">
    <p>Environment Agency (England) helpline: <a href="tel:+443708506506">03708 506506</a></p>
    <ul>
      <li class="inline"><a target="_blank" href="/version_2/end_registration/privacy_policy">Privacy</a></li>
      <li class="inline"><a target="_blank" href="#">Cookies</a></li>
    </ul>
  </div>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
