{% extends "layout.html" %}

{% block page_title %}
  What is your name?
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {% include "custom_inc/backlink.html" %}

    <div id="martin-test">

      <form method="post" class="form">

        <h1 class="heading-large">
          What is your name?
        </h1>

        <!-- form-control -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>
        <div class="form-group">
          <label class="form-label" for="full-name1">Full name (form-control)</label>
          <input type="text" class="form-control" id="full-name1" />
        </div>
        </fieldset>

        <!-- .form-control-char-50 -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>
        <div class="form-group">
          <label class="form-label" for="full-name3">Full name (form-control-char-50)</label>
          <input type="text" class="form-control form-control-char-50" id="full-name3" />
        </div>
        </fieldset>

        <!-- .form-control-char-35 -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>
        <div class="form-group">
          <label class="form-label" for="full-name3">Full name (form-control-char-35)</label>
          <input type="text" class="form-control form-control-char-35" id="full-name3" />
        </div>
        </fieldset>


        <!-- form-control-char-25 -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>
        <div class="form-group">
          <label class="form-label" for="full-name2">Full name (form-control-char-25)</label>
          <input type="text" class="form-control form-control-char-25" id="full-name2" />
        </div>
        </fieldset>


        <!-- .form-control-char-15 -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>
        <div class="form-group">
          <label class="form-label" for="full-name5">Full name (form-control-char-15)</label>
          <input type="text" class="form-control form-control-char-15" id="full-name5" />
        </div>
        </fieldset>

        <!-- .form-control-char-10 -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>
        <div class="form-group">
          <label class="form-label" for="full-name6">Full name (form-control-char-10)</label>
          <input type="text" class="form-control form-control-char-10" id="full-name6" />
        </div>
        </fieldset>

        <!-- .form-control-char-5 -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>

        <div class="form-group">
          <label class="form-label" for="full-name7">Full name (form-control-char-5)</label>
          <input type="text" class="form-control form-control-char-5" id="full-name7" />
        </div>
        </fieldset>


        <!-- .form-control-char-3 -->
        <fieldset>
          <legend class="visuallyhidden">What is your name?</legend>

        <div class="form-group">
          <label class="form-label" for="full-name9">Full name (form-control-char-3)</label>
          <input type="text" class="form-control form-control-char-3" id="full-name9" />
        </div>
        </fieldset>


        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

  </div>

</main>
{% endblock %}
