{% extends "layout.html" %} {% block page_title %} What is your telephone number? {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="form-title heading-large">
          What is your telephone number?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">What is your telephone number?</legend>

          <!-- Telephone number -->
          <div class="form-group">
            <label class="form-label" for="telephone">Telephone number
              <span class="form-hint">This can be a landline or mobile</span>
            </label>
            <input type="text" class="form-control" id="telephone" />
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
