{% extends "layout.html" %} {% block page_title %} What's the registration number of the partnership? {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {% include "custom_inc/backlink.html" %}

      <form method="post" class="form">

      <header class="text">
  <h1 class="form-title heading-large">
          What's the registration number of the partnership?
        </h1>
</header>

        <fieldset>
          <legend class="visuallyhidden">Registration number of the partnership</legend>

          <!-- Company number -->
          <div class="form-group">
            <label class="form-label" for="limited-liability-number">Registration number
              <span class="form-hint">An 8 digit number, or 2 letters followed by a 6 digit number</span>
            </label>
            <input type="text" class="form-control form-control-char-10" id="limited-liability-number" />
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

</main>
{% endblock %}
