{% extends "layout.html" %} {% block page_title %} What's the registered name of the company? {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {% include "custom_inc/backlink.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          What's the registered name of the company?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">Registered company name</legend>

          <!-- Company name -->
          <div class="form-group">
            <label class="form-label" for="company-name">Registered name of company</label>
            <input type="text" class="form-control" id="company-name" />
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
